








    <!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->


<!-- Mirrored from themesflat.co/html/jobtex/dashboard/candidates-dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 May 2024 18:45:05 GMT -->
<head>
  <!-- Basic Page Needs -->
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <title>Jobtex TF</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Font -->
  <link rel="stylesheet" href="/font/fonts.css">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <!-- swiper slider -->
  <link rel="stylesheet" href="/css/swiper-bundle.min.css" />

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Theme Style -->
  <link rel="stylesheet" type="text/css" href="/css/shortcodes.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
  <link rel="stylesheet" type="text/css" href="/css/hyprofile.css">


  <!-- Responsive -->
  <link rel="stylesheet" type="text/css" href="/css/responsive.css">

  <!-- Favicon and Touch Icons  -->
  <link rel="shortcut icon" href="/img/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/img/favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<style>

  .inputSelectLi{
    border-bottom: 1px solid rgba(220, 220, 220, 0.845); padding: 4px 2px;

  }
  .inputSelectLi:hover{
    background-color: rgb(246, 246, 246);
  }
  .inputSelectUL{
    font-family: 'Plus Jakarta Sans', sans-serif; padding: 7px; border-radius: 10px; position: absolute; top: 50px; left: 30px; background-color: white; width:300px ; height: auto; border: 1px solid rgba(223, 223, 223, 0.879);
  }

</style>
</head>

<body class="dashboard show ">

<div id="miniPhoto"></div>
<div id="employerSaveTop" ></div>
<div id="saveEmployerModal2"></div>
<div id="employerModalSave3"></div>


<span  id="employerModalBoxOpen3" style="float: right; cursor: pointer; margin-right: 40px;"><i style="font-size: 22px;" class="fa-regular fa-pen-to-square"></i></span>


<span
id="employersOpenBtn"
style="cursor: pointer; float: right; margin-top: -60px"
><i
  style="font-size: 22px"
  class="fa-regular fa-pen-to-square"
></i
></span>

<span
id="employersOpenBtn2"
style="cursor: pointer; float: right; "
><i
  style="font-size: 22px"
  class="fa-regular fa-pen-to-square"
></i
></span>

    <div id="employerBoxOne" class="modalBoxprofileClass">
        <div class="modalboxInfoClass">
          <h4 class="modalTitle">
            Edit
            <span class="modalClossBtnClass" id="employerModelCloseID"
              ><i class="modalCloseIcon fa-solid fa-xmark"></i
            ></span>
          </h4>
      
          <div class="wrap-img flex2">
            <div class="imgSelectBoxClass img-box relative">
              <img
              style="max-width: 120px; max-height: 120px; width: 120px;"
                class="avatar"
                id="employersİnputppIMG"
                src="/img/dashboard/image-up.jpg"
                alt=""
              />
            </div>
            <div id="upload-profile" style="margin-left: 20px">
              <h5 class="fw-6">Upload a new avatar:</h5>
              <h6>JPG 80x80px</h6>
              <form>
                <input
                  class="up-file"
                  id="employerppINPUT"
                  type="file"
                  name="imageFile"
                  required=""
                />
              </form>
            </div>
          </div>
      <br>
          <div class="wrap-img flex2">
            <div class="imgSelectBoxClass img-box relative">
              <img
              style="max-width: 120px; max-height: 120px; width: 120px;"
                class="avatar"
                id="employerskpInputIMG"
                src="/img/dashboard/image-up.jpg"
                alt=""
              />
            </div>
            <div id="upload-profile" style="margin-left: 20px">
              <h5 class="fw-6">Upload a new avatar:</h5>
              <h6>JPG 80x80px</h6>
              <form>
                <input
                  class="up-file"
                  id="employerskpInput"
                  type="file"
                  name="imageFile"
                  required=""
                />
              </form>
            </div>
          </div>
      
          <label class="modalLabelClass mt-3" for="">*Company Name</label>
          <input
            id="employersTitleInput"
            style="color:black; height: 40px; max-width: 90%; margin:  auto; text-align: left; display: block; border: 0.5px solid rgb(136, 136, 136) ; border-radius: 10px; margin-bottom: 10px;"
            placeholder="*Hüseyin Yalçın"
            type="text"
            value="<%= data.fullName  %>"
          />
          <div style="position: relative;">
            <label for="" style="color: rgb(144, 144, 144); max-width: 90%; margin: auto; display: block; ">*Location</label>
            <input id="cadidatesLocationKeyWordID" style="color:black; height: 40px; max-width: 90%; margin:  auto; text-align: left; display: block; border: 0.5px solid rgb(136, 136, 136) ; border-radius: 10px; margin-bottom: 10px;" placeholder="*Turkey istanbul" type="text">
            <ul id="inputSelectUL" class="inputSelectUL" style="top: 64px;">
        
            </ul>
        </div>

          <label class="modalLabelClass mt-3" for="">*Short Description</label>
          <input
            id="employersPInput"
            style="color:black; height: 40px; max-width: 90%; margin:  auto; text-align: left; display: block; border: 0.5px solid rgb(136, 136, 136) ; border-radius: 10px; margin-bottom: 10px;"
            placeholder="*Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, exercitationem?
            "
            type="text"
          />
      
          <label class="modalLabelClass mt-3" for="">*Web Site URL</label>
          <input
            id="employersWebInput"
            style="color:black; height: 40px; max-width: 90%; margin:  auto; text-align: left; display: block; border: 0.5px solid rgb(136, 136, 136) ; border-radius: 10px; margin-bottom: 10px;"
            placeholder="*www."
            type="text"
          />
      
          

        
      
          <div id="employersTalesBoxInput" style="width: 100%; margin: auto;" >
       
          </div>
      
          <div id="employertalentAddBoxId" class="dilAddBox">
            <i class="talenAdd fa-solid fa-plus"></i>Talent add
          </div>
      
          <br /><br /><br /><br /><br><br><br>
          <div class="closeBox">
            <button
            style="  width: 100px;
            display: block;
            color: white;
            border-radius: 19px;
            font-family: sans-serif;
            margin-right: 20px;
            background: #0e76a8;"
          id="contiuneOne"  class="obutBtn">Contiune</button>
           
          </div>
        </div>
      </div>
      
      <div id="modalBoxInfo" class="modalBoxInfoClass">
        <div class="modalboxInfoClass">
        <h4 style="z-index: 999999999; background-color: white; position: sticky; top: 0px; padding: 15px 10px; border-bottom: 1px solid rgba(202, 202, 202, 0.785);">Edit<span id="employerModalBoxClose2" style=" cursor: pointer; float: right; margin-right: 13px;"><i style="font-size: 24px; " class="fa-solid fa-xmark"></i></span></h4>
      
      
        <label for="" style="color: rgb(144, 144, 144); max-width: 90%; margin: auto; display: block; ">*Industry</label>
        <input id="industryInput" style="color:black; height: 40px; max-width: 90%; margin:  auto; text-align: left; display: block; border: 0.5px solid rgb(136, 136, 136) ; border-radius: 10px; margin-bottom: 10px;" placeholder="*Örn: UL/UX Desinger" type="text">
        
        <label for="" style="color: rgb(144, 144, 144); max-width: 90%; margin: auto; display: block; ">*Company size</label>
        <input id="companysizeInput" style="color:black; height: 40px; max-width: 90%; margin:  auto; text-align: left; display: block; border: 0.5px solid rgb(136, 136, 136) ; border-radius: 10px; margin-bottom: 10px;" placeholder="*Turkey istanbul" type="text">
        
        <label for="" style="color: rgb(144, 144, 144); max-width: 90%; margin: auto; display: block; ">*Founded</label>
        <input id="foundedInput" style="color:black; height: 40px; max-width: 90%; margin:  auto; text-align: left; display: block; border: 0.5px solid rgb(136, 136, 136) ; border-radius: 10px; margin-bottom: 10px;"  type="date">
      
      
      
       <div id="sosialMadiaInputBox">
      
       <label for="" style="color: rgb(144, 144, 144); max-width: 90%; margin: auto; display: block; ">*Facebook</label>
       <input id="employerFacebook" style="color:black; height: 40px; max-width: 90%; margin:  auto; text-align: left; display: block; border: 0.5px solid rgb(136, 136, 136) ; border-radius: 10px; margin-bottom: 10px;" placeholder="*url" type="text">
      
       <label for="" style="color: rgb(144, 144, 144); max-width: 90%; margin: auto; display: block; ">*Linkedin</label>
       <input  id="employerLinkedin" style="color:black; height: 40px; max-width: 90%; margin:  auto; text-align: left; display: block; border: 0.5px solid rgb(136, 136, 136) ; border-radius: 10px; margin-bottom: 10px;" placeholder="*url" type="text">
       
       <label for="" style="color: rgb(144, 144, 144); max-width: 90%; margin: auto; display: block; ">*Twitter</label>
       <input id="employerTwitter" style="color:black; height: 40px; max-width: 90%; margin:  auto; text-align: left; display: block; border: 0.5px solid rgb(136, 136, 136) ; border-radius: 10px; margin-bottom: 10px;" placeholder="*url" type="text">
       
       <label for="" style="color: rgb(144, 144, 144); max-width: 90%; margin: auto; display: block; ">*Pinteres</label>
       <input id="employerPinterest" style="color:black; height: 40px; max-width: 90%; margin:  auto; text-align: left; display: block; border: 0.5px solid rgb(136, 136, 136) ; border-radius: 10px; margin-bottom: 10px;" placeholder="*url" type="text">
       
       <label for="" style="color: rgb(144, 144, 144); max-width: 90%; margin: auto; display: block; ">*Instagram</label>
       <input id="employerInstagram" style="color:black; height: 40px; max-width: 90%; margin:  auto; text-align: left; display: block; border: 0.5px solid rgb(136, 136, 136) ; border-radius: 10px; margin-bottom: 10px;" placeholder="*url" type="text">
       
       <label for="" style="color: rgb(144, 144, 144); max-width: 90%; margin: auto; display: block; ">*Youtube</label>
       <input id="employerYoutube" style="color:black; height: 40px; max-width: 90%; margin:  auto; text-align: left; display: block; border: 0.5px solid rgb(136, 136, 136) ; border-radius: 10px; margin-bottom: 10px;" placeholder="*url" type="text">
      
      
       
      </div>
      
      
      
        <br><br>
        <div class="closeBox">
          <button id="contiuneTwo" style=" width: 100px;
          display: block;
          color: white;
        border-radius: 19px; font-family: sans-serif; margin-right: 20px; background: #0e76a8;"   class="obutBtn ">Contiune</button>
        </div>
        
        
        
        </div>
        </div>
      
      
        <div id="employerModalBox" class="modalBoxTop">
          <div class="modalbox">
          <h4 style="z-index: 999999999; background-color: white; position: sticky; top: 0px; padding: 15px 10px; border-bottom: 1px solid rgba(202, 202, 202, 0.785);">About Me <span id="aboutClose" style=" cursor: pointer; float: right; margin-right: 13px;"><i style="font-size: 24px; " class="fa-solid fa-xmark"></i></span></h4>
          <p style="width: 90%; margin: auto; font-size: 14px; color: rgb(109, 109, 109);">Deneyim süreniz, sektörünüz ve yeteneklerinizden bahsedebilirsiniz. Diğer kişiler ayrıca başarılarına veya önceki iş tecrübelerine de değinir.</p>
          <textarea name="" id="aboutID" class="aboutMe"></textarea>
        
          <br>
          <div class="wrap-img " style="width: 90%; margin: auto;">
            <div id="imgAllBox" class="imgAllBox img-box relative" style="display: flex; align-items: center; justify-content: start; flex-wrap: wrap; ">
              
      
          
      
      
              
            </div>
            <div id="upload-profile" style="margin-left: 20px">
              <h5 class="fw-6">Upload a new avatar:</h5>
              <h6>JPG 80x80px</h6>
              <form>
                <input
                  class="up-file"
                  id="employersAllimg"
                  type="file"
                  name="files"
                  required=""
      
                  multiple
                />
              </form>
            </div>
          </div>
      
          <br><br>
          <div class="closeBox">
            <button  style=" width: 100px;
            display: block;
            color: white;
          border-radius: 19px; font-family: sans-serif; margin-right: 20px; background: #0e76a8;" id="finisInfo"  class="obutBtn ">Save</button>
          </div>
          
          
          
          </div>
          </div>
      
      

 <script src="/js/hyEmployerModalSetting.js"></script>
  <script src="/js/jquery.min.js"></script>

  <script src="/js/jquery.cookie.js"></script>
  <script src="/js/swiper-bundle.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src='/js/wow.min.js'></script>
  <script src="/js/main.js"></script>
  <script src="/js/dropdown.js"></script>
  <script src="/js/dashboard-menu.min.js"></script>
  <script src="/js/dashboard-menu.js"></script>
  <script src="/js/inputselect.js"></script>


  <script>



    let contiuneOne = document.getElementById('contiuneOne')
    let contiuneTwo = document.getElementById('contiuneTwo')
    let finisInfo = document.getElementById('finisInfo')
    employersOpenBtn.click()
 
    contiuneOne.addEventListener('click',()=>{
     employerModelCloseID.click()
     employersOpenBtn2.click()
    })

    contiuneTwo.addEventListener('click',()=>{
        employerModalBoxClose2.click()
        employerModalBoxOpen3.click()
    })
    finisInfo.addEventListener('click',()=>{
      
        employerSaveTop.click()
        saveEmployerModal2.click()
        employerModalSave3.click()

        $(".preload").show();

        var showPreloader = function () {
          $(".preload").fadeOut("slow", function () {
            setTimeout(function () {
              
            }, 500);
          });
    
      };
      
      setTimeout(()=>{
        showPreloader()
   window.location.href = '/dashboard/profiloverview/'
      }, 2500);
    })
 


  </script>


</body>


<!-- Mirrored from themesflat.co/html/jobtex/dashboard/candidates-overview.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 May 2024 18:45:35 GMT -->
</html>