
  <%- include('../partical/header.ejs') %>
  <!-- END HEADER -->



  <section class="FAQ-section">
    <div class="tf-container st2">
      <div class="row">
        <div class="col-lg-12">
          <div class="accordion-page">
            <h4>Frequently Asked Questions</h4>
            <p class="des">Pellentesque quis lectus sagittis, gravida erat id</p>
            <h6>Payments</h6>
            <div class="flat-accordion">
              <div class="flat-toggle">
                <div class="toggle-title active">Which device can I use to enter your service? <span class="icon"></span></div>
                <div class="toggle-content">
                  <p>Aenean porta, eros lacus congue lorem, samet mollis magna velit ac erat. Donec ut interdum arcu, egestas liber. Etiam condimentum aliquam accumsan. Morbi accumsan purus nec vehicula ornare.</p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">What’s your very first memory? <span class="icon"></span></div>
                <div class="toggle-content">
                  <p>Aenean porta, eros lacus congue lorem, samet mollis magna velit ac erat. Donec ut interdum arcu, egestas liber. Etiam condimentum aliquam accumsan. Morbi accumsan purus nec vehicula ornare.</p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">If you could visit one planet, which would it be? <span class="icon"></span></div>
                <div class="toggle-content">
                  <p>Aenean porta, eros lacus congue lorem, samet mollis magna velit ac erat. Donec ut interdum arcu, egestas liber. Etiam condimentum aliquam accumsan. Morbi accumsan purus nec vehicula ornare.</p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">What do you want to be when you grow up? <span class="icon"></span></div>
                <div class="toggle-content">
                  <p>Aenean porta, eros lacus congue lorem, samet mollis magna velit ac erat. Donec ut interdum arcu, egestas liber. Etiam condimentum aliquam accumsan. Morbi accumsan purus nec vehicula ornare.</p>
                </div>
              </div>
            </div>
            <h6>Suggestion</h6>
            <div class="flat-accordion">
              <div class="flat-toggle">
                <div class="toggle-title">When is the last time you can remember feeling ? <span class="icon"></span></div>
                <div class="toggle-content">
                  <p>Aenean porta, eros lacus congue lorem, samet mollis magna velit ac erat. Donec ut interdum arcu, egestas liber. Etiam condimentum aliquam accumsan. Morbi accumsan purus nec vehicula ornare.</p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">Which of the Seven Wonders of the world do you? <span class="icon"></span></div>
                <div class="toggle-content">
                  <p>Aenean porta, eros lacus congue lorem, samet mollis magna velit ac erat. Donec ut interdum arcu, egestas liber. Etiam condimentum aliquam accumsan. Morbi accumsan purus nec vehicula ornare.</p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">If you could change careers right this second <span class="icon"></span></div>
                <div class="toggle-content">
                  <p>Aenean porta, eros lacus congue lorem, samet mollis magna velit ac erat. Donec ut interdum arcu, egestas liber. Etiam condimentum aliquam accumsan. Morbi accumsan purus nec vehicula ornare.</p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">What makes you happiest? <span class="icon"></span></div>
                <div class="toggle-content">
                  <p>Aenean porta, eros lacus congue lorem, samet mollis magna velit ac erat. Donec ut interdum arcu, egestas liber. Etiam condimentum aliquam accumsan. Morbi accumsan purus nec vehicula ornare.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('../partical/footer.ejs') %>
  </div><!-- /.boxed --> 

<script src="/js/jquery.min.js"></script>
<script src="/js/swiper-bundle.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/boostrap-select.min.js"></script>
<script src="/js/jquery.fancybox.js"></script>
<script src="/js/plugin.min.js"></script>
<script src='/js/wow.min.js'></script>
<script src='/js/swiper.js'></script>
<script src='/js/jquery.nice-select.min.js'></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/switcher.js"></script>
<script src="/js/main.js"></script>

</body>

<!-- Mirrored from themesflat.co/html/jobtex/accordion-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 May 2024 18:45:17 GMT -->
</html>