
  <%- include('../partical/header.ejs') %>
  <!-- END HEADER -->



  <section class="FAQ-section">
    <div class="tf-container st2">
      <div class="row">
        <div class="col-lg-12">
          <div class="accordion-page">
            <h4>Frequently Asked Questions</h4>
            <p class="des">Pellentesque quis lectus sagittis, gravida erat id</p>
            <h6>Payments</h6>
            <div class="flat-accordion">
              <div class="flat-toggle">
                <div class="toggle-title active">Job Zone işəgötürənlərə düzgün namizədləri tapmaqda necə kömək edir? <span class="icon"></span></div>
                <div class="toggle-content">
                  <p>
                    Job Zone işəgötürənləri xüsusi tələblərinə cavab verən namizədlərlə əlaqələndirmək üçün qabaqcıl uyğunluq alqoritmlərindən və geniş şəbəkədən istifadə edir. 
                  </p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">
                  İşəgötürənlər işə qəbul barədə qərar qəbul etməzdən əvvəl namizədləri nəzərdən keçirə bilərmi? 
                  <span class="icon"></span>
                </div>
                <div class="toggle-content">
                  <p>
                    Bəli, işəgötürənlərin işə qəbul barədə qərar qəbul etməzdən əvvəl namizəd profillərini, CV-lərini və portfellərini nəzərdən keçirmək imkanı var. Biz məlumatlı qərar qəbul etməyi asanlaşdırmaq üçün hərtərəfli namizəd profillərini təqdim edirik.
                  </p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title"> Job Zone işəgötürənlər üçün iş elanı prosesini necə idarə edir? <span class="icon"></span></div>
                <div class="toggle-content">
                  <p>
                    Job Zone-da iş elanı yerləşdirmək sadə və sürətlidir. İşəgötürənlər asanlıqla iş siyahıları yarada, iş tələblərini dəqiqləşdirə bilərlər. Platformamız sizə bütün prosesdə addım-addım istiqamət verir. 
                  </p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title"> Job Zonendan istifadə edən işəgötürənlər üçün ödəniş strukturu necədir? <span class="icon"></span></div>
                <div class="toggle-content">
                  <p>
                    Ödəniş strukturumuz şəffaf və çevikdir. İşəgötürənlər işə götürmə ehtiyaclarına əsasən müxtəlif qiymət planları arasından seçim edə bilərlər. Biz rəqabətədavamlı tariflər təklif edirik və ən yaxşı istedadları tapmaqda investisiyanızın dəyərini təmin edirik.
                  </p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">Job Zone həm işəgötürənlərin, həm də namizədlərin məxfiliyini necə qoruyur? <span class="icon"></span></div>
                <div class="toggle-content">
                  <p>
                    Biz platformamızda bütün istifadəçilərin məxfiliyinə və təhlükəsizliyinə üstünlük veririk. Biz ciddi məxfilik tədbirlərinə əməl edirik və həssas məlumatları qorumaq üçün məlumatların qorunması qaydalarına əməl edirik.
                  </p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title"> Job Zone həm işəgötürənlərə, həm də namizədlərə dəstək və yardım təklif edirmi? <span class="icon"></span></div>
                <div class="toggle-content">
                  <p>
                    Mütləq! Xüsusi dəstək komandamız həm işəgötürənlərə, həm də namizədlərə qarşılaşa biləcəkləri hər hansı sual, narahatlıq və ya texniki məsələlərdə kömək etmək üçün hazırdır. Biz Job Zone səyahətiniz boyunca müstəsna xidmət və dəstək göstərməyə sadiqik.
                  </p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title"> Job Zone-da iş elan etdikdən sonra namizəd ərizələrini nə qədər tez qəbul edə bilərəm?
                  <span class="icon"></span></div>
                <div class="toggle-content">
                  <p>
                    Namizəd ərizələrinin qəbulu üçün iş vaxtı, iş yeri, sektor və tələb kimi amillərdən asılı olaraq dəyişə bilər. Bununla belə, bir çox işəgötürənlər Job Zonenda iş yerləşdirdikdən sonra ilk bir neçə gün ərzində müraciətlər alırlar.
                  </p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">  İş elanı dərc edildikdən sonra onu redaktə edə və ya yeniləyə bilərəm?
                  <span class="icon"></span></div>
                <div class="toggle-content">
                  <p>
                    Bəli, siz istədiyiniz vaxt Job Zone hesab paneli vasitəsilə iş elanınızı redaktə edə və ya yeniləyə bilərsiniz. Sadəcə olaraq dəyişdirmək istədiyiniz iş elanını tapın və dəyişiklik etmək üçün "Düzəliş et" seçimini seçin.

                  </p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">  Job Zone-da hansı növ iş elanları mövcuddur?
                  <span class="icon"></span></div>
                <div class="toggle-content">
                  <p>
Job Zone müxtəlif sənaye və sektorlar üzrə tam iş günü, part-time, müqavilə, müvəqqəti, sərbəst və məsafədən də daxil olmaqla geniş iş siyahıları təklif edir.
                  </p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">  İşəgötürən kimi yarada biləcəyim iş elanlarının sayına hər hansı məhdudiyyətlər varmı?
                  <span class="icon"></span></div>
                <div class="toggle-content">
                  <p>
                    Job Zone bütün ölçülərdə olan bizneslərə uyğun olan çevik qiymət planları təklif edir. Seçdiyiniz plan əsasında yarada biləcəyiniz iş elanlarının sayında heç bir məhdudiyyət yoxdur.
                  </p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title"> Job Zone işə qəbul prosesinə kömək etmək üçün hər hansı əlavə xidmətlər və ya alətlər təklif edirmi?

                  <span class="icon"></span></div>
                <div class="toggle-content">
                  <p>
                    Bəli, Job Zone işə qəbul prosesini sadələşdirmək və işəgötürənlərin vaxtına və resurslarına qənaət etmək üçün rezyumelərin yoxlanılması (AI ilə), namizədlərin axtarışı, məlumatların yoxlanılması və müsahibə planı kimi əlavə xidmətlər təqdim edir.
                  </p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title"> Mən xüsusi meyarlar əsasında Job Zone-da namizədlər axtara bilərəmmi?

                  <span class="icon"></span></div>
                <div class="toggle-content">
                  <p>
                    Bəli, siz bacarıqlar, təcrübə, ünvan, təhsil və s. kimi filtrlərdən istifadə edərək Job Zone-da namizədləri axtara bilərsiniz. Təkmil axtarış funksiyamız sizə xüsusi tələblərinizə uyğun namizədləri tapmağa imkan verir.

                  </p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title"> Job Zone vasitəsilə qəbul edilən namizəd ərizələrini necə effektiv idarə edə və təşkil edə bilərəm?

                  <span class="icon"></span></div>
                <div class="toggle-content">
                  <p>
                    Job Zone hər bir iş elanı üçün namizəd ərizələrinə baxa, idarə edə və təşkil edə biləcəyiniz istifadəçi dostu idarə paneli təqdim edir. CV-ləri asanlıqla nəzərdən keçirə, namizədlərlə əlaqə saxlaya və hər bir müraciətin vəziyyətini izləyə bilərsiniz.

                  </p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title"> Job Zone mənim iş elanlarımın performansı ilə bağlı analitik və ya anlayışlar təqdim edirmi?

                  <span class="icon"></span></div>
                <div class="toggle-content">
                  <p>
                    Bəli, Job Zone baxışlar, ərizələr və namizədlərin cəlb edilməsi kimi göstəricilər də daxil olmaqla, iş elanlarınızın icrasına dair təsəvvürləri təmin edən analitika və hesabat alətləri təklif edir.



                  </p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title"> Mən Job Zone platforması vasitəsilə namizədlərlə birbaşa əlaqə saxlaya bilərəmmi?

                  <span class="icon"></span></div>
                <div class="toggle-content">
                  <p>
                    Bəli, siz Job Zone platforması vasitəsilə mesajlaşma və ya e-poçt vasitəsilə namizədlərlə birbaşa əlaqə saxlaya bilərsiniz. Bu, işə qəbul prosesi boyunca qüsursuz ünsiyyət və əməkdaşlığa imkan verir.
                  </p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title"> Daimi istifadəçilər və ya toplu iş elanları üçün endirimlər və ya xüsusi təkliflər mövcuddurmu?

                  <span class="icon"></span></div>
                <div class="toggle-content">
                  <p>
                    Job Zone daimi istifadəçilər və ya toplu iş elanları üçün endirimlər və xüsusi təkliflər təklif edir. Cari promosyonlar haqqında məlumat üçün veb saytımızı yoxladığınızdan və ya dəstək komandamızla əlaqə saxlamağınızdan əmin olun.
                  </p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">  İşəgötürənlər üçün Job Zone-nun xidmətlərini sınaqdan keçirmək üçün sınaq müddəti varmı?

                  <span class="icon"></span></div>
                <div class="toggle-content">
                  <p>
                    Job Zone işəgötürənlərə xidmətlərimizi sınamaq və platformamızın xüsusiyyətlərini araşdırmaq üçün sınaq dövrləri təklif edir. Cari təkliflər haqqında ətraflı məlumat üçün satış komandamızla əlaqə saxlayın.
                  </p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title"> Job Zone işə qəbul zamanı işəgötürənlər tərəfindən təqdim olunan həssas məlumatları necə idarə edir?

                  <span class="icon"></span></div>
                <div class="toggle-content">
                  <p>
                    Job Zone işə qəbul zamanı işəgötürənlər tərəfindən verilən bütün məlumatların təhlükəsizliyinə və məxfiliyinə təminat verir. Biz sənaye standartlarına uyğun təhlükəsizlik tədbirlərini tətbiq edirik və həssas məlumatları qorumaq üçün ciddi məxfilik siyasətlərinə əməl edirik.

                  </p>
                </div>
              </div>
            </div>
            <h6>Suggestion</h6>
            <div class="flat-accordion">
              <div class="flat-toggle">
                <div class="toggle-title">Job Zone həm işəgötürənlərin, həm də namizədlərin məxfiliyini necə qoruyur?
                  <span class="icon"></span>
                </div>
                <div class="toggle-content">
                  <p>Biz platformamızda bütün istifadəçilərin məxfiliyinə və təhlükəsizliyinə üstünlük veririk. Biz ciddi məxfilik tədbirlərinə əməl edirik və həssas məlumatları qorumaq üçün məlumatların qorunması qaydalarına əməl edirik.</p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">Namizədlər Job Zone təcrübəsindən necə istifadə edə bilərlər?
                  <span class="icon"></span>
                </div>
                <div class="toggle-content">
                  <p>Namizədlər ətraflı profillər yaratmaq, bacarıq və təcrübələrini nümayiş etdirmək və iş imkanları ilə fəal şəkildə məşğul olmaq yolu ilə İş Bölgələri təcrübəsini maksimum dərəcədə artıra bilərlər. Biz həmçinin namizədlərə əmək bazarında fərqlənməyə kömək etmək üçün resurslar və məsləhətlər təklif edirik.</p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">Namizədlər Job Zone-da öz iş müraciətlərinin vəziyyətini izləyə bilərlərmi?
                  <span class="icon"></span>
                </div>
                <div class="toggle-content">
                  <p>Bəli, namizədlər öz Job Zone hesabı vasitəsilə iş müraciətlərinin vəziyyətini izləyə bilərlər. Onlar müraciətlərinin gedişatına dair bildirişlər və yeniləmələr alır, proses boyunca şəffaflığı və aydınlığı təmin edir.</p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">Job Zone həm işəgötürənlərə, həm də namizədlərə dəstək və yardım təklif edirmi?
                  <span class="icon"></span>
                </div>
                <div class="toggle-content">
                  <p>Mütləq! Xüsusi dəstək komandamız həm işəgötürənlərə, həm də namizədlərə qarşılaşa biləcəkləri hər hansı sual, narahatlıq və ya texniki məsələlərdə kömək etmək üçün hazırdır. Biz Job Zone səyahətiniz boyunca müstəsna xidmət və dəstək göstərməyə sadiqik.</p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">Job Zone saxta iş elanlarının və ya qeyri-etik işə qəbul təcrübələrinin qarşısını almaq üçün hansı tədbirləri görür?
                  <span class="icon"></span>
                </div>
                <div class="toggle-content">
                  <p>Job Zone buna qarşı tədbir olaraq avtomatlaşdırılmış və manual yoxlama proseslərinin birləşməsindən istifadə edir. Platformamızdakı iş elanları dərc etmək istəyən işəgötürənlərin dövlər reyestrində qeydiyyatının olub-olmadığını yoxlayırıq. Biz həmçinin istifadəçiləri araşdırma üçün hər hansı şübhəli fəaliyyəti bildirməyə dəvət edirik.</p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">İş elanlarına baxmaq üçün Job Zone-da hesab yaratmaq lazımdırmı?
                  <span class="icon"></span>
                </div>
                <div class="toggle-content">
                  <p>Job Zone-da hesab yaratmaq sizə iş xəbərdarlığı bildirişləri, yadda saxlanmış axtarışlar və müraciətlərin izlənməsi kimi əlavə funksiyalara daxil olmağa imkan verir. Bununla belə, siz hesab yaratmadan iş elanlarına baxa bilərsiniz.</p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">Maraqlarıma uyğun yeni iş elanları haqqında bildirişlər almaq üçün iş xəbərdarlığını necə qura bilərəm?
                  <span class="icon"></span>
                </div>
                <div class="toggle-content">
                  <p>Açar sözlər, iş yeri, sənaye və iş kateqoriyası daxil olmaqla, iş seçimlərinizi göstərərək Job Zone-da iş xəbərdarlıqları qura bilərsiniz. Yeni iş elanları meyarlarınıza uyğun gələndə e-poçt və Job Zone platforması vasitəsilə bildirişlər alacaqsınız.</p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">Mən mobil cihazımdan istifadə edərək Job Zone-da iş üçün müraciət edə bilərəmmi?
                  <span class="icon"></span>
                </div>
                <div class="toggle-content">
                  <p>Bəli, Job Zone mobil cihazlar üçün optimallaşdırılmışdır ki, bu da sizə iş siyahılarına baxmaq, ərizələr təqdim etmək və yolda profilinizi idarə etmək imkanı verir. Sadəcə olaraq, smartfon və ya planşetinizdən Job Zone-nun veb saytına daxil olun.</p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">Namizəd profili yaratmaq və ya Job Zone-da iş üçün müraciət etmək üçün hər hansı ödənişlər varmı?
                  <span class="icon"></span>
                </div>
                <div class="toggle-content">
                  <p>Namizəd profilinin yaradılması və Job Zone-da işə müraciət etmək iş axtaranlar üçün tamamilə pulsuzdur. Platformamızdan namizəd kimi istifadə ilə bağlı heç bir gizli və ya açıq ödəniş yoxdur.</p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">Job Zone-da işəgötürənlər qarşısında necə fərqlənə bilərəm?
                  <span class="icon"></span>
                </div>
                <div class="toggle-content">
                  <p>Job Zone-da işəgötürənlər arasında fərqlənmək üçün profilinizi bacarıqlarınız, təcrübəniz və nailiyyətləriniz haqqında ətraflı məlumatla tamamladığınızdan əmin olun. Bundan əlavə, CV materiallarınızı hər bir iş imkanı üçün fərdiləşdirin, suallar verməklə və rola marağınızı ifadə etməklə işəgötürənlərə müraciət edin.</p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">İş müraciətlərim uğursuz olarsa, onlarla bağlı rəy ala bilərəmmi?
                  <span class="icon"></span>
                </div>
                <div class="toggle-content">
                  <p>Hər bir iş müraciəti ilə bağlı rəyə zəmanət verə bilməsək də, bəzi işəgötürənlər namizədlərə, xüsusən işə qəbul prosesinin sonrakı mərhələlərində rəy bildirə bilər. İstənilən halda, biz namizədləri nəzakətlə və peşəkarcasına geribildirim tələb etmələrini tövsiyə edirik.</p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">İş müsahibələrinə hazırlaşmağa kömək edəcək hər hansı resurs və ya bələdçi varmı?
                  <span class="icon"></span>
                </div>
                <div class="toggle-content">
                  <p>Job Zone namizədlərə iş müsahibələrinə hazırlaşmağa kömək etmək üçün müxtəlif resurslar və bələdçilər təklif edir, o cümlədən CV yazma, əhatə məktubu yazmaq, müsahibəyə hazırlıq və əmək haqqı danışıqları. Bu mənbələrə veb saytımızda və ya bloqumuzda daxil ola bilərsiniz.</p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">Mən Job Zone profilimin işəgötürənləri cəlb etmək üçün optimallaşdırılmasını necə təmin edə bilərəm?
                  <span class="icon"></span>
                </div>
                <div class="toggle-content">
                  <p>Job Zone profilinizi optimallaşdırmaq üçün bütün bölmələri bacarıqlarınız, təcrübəniz, təhsiliniz və nailiyyətləriniz haqqında dəqiq və müasir məlumatlarla tamamladığınızdan əmin olun.</p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">Mən Job Zone-da anonim olaraq iş elanlarına baxa bilərəmmi?
                  <span class="icon"></span>
                </div>
                <div class="toggle-content">
                  <p>Bəli, siz hesab seçimlərinizdə məxfilik parametrlərinizi tənzimləyərək Job Zonenda anonim olaraq iş siyahılarına baxa bilərsiniz. Bu sizə müraciət etməyi seçənə qədər şəxsiyyətinizi işəgötürənlərə açıqlamadan iş imkanlarını araşdırmağa imkan verir.</p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">Job Zone namizədlər üçün hər hansı karyera inkişafı və ya təlim resursları təklif edirmi?
                  <span class="icon"></span>
                </div>
                <div class="toggle-content">
                  <p>Bəli, Job Zones namizədlər üçün müxtəlif karyera inkişafı və təlim resursları təklif edir, o cümlədən onlayn kurslar, vebinarlar, seminarlar və peşəkar inkişaf, karyera yüksəlişi və sənaye meylləri kimi mövzularda məqalələr.</p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">Job Zone namizədlərin şəxsi məlumatlarını və məxfiliyini necə qoruyur?
                  <span class="icon"></span>
                </div>
                <div class="toggle-content">
                  <p>Job Zone namizəd məlumatlarının məxfiliyinə və təhlükəsizliyinə ciddi yanaşır. Biz sənaye standartlarına uyğun təhlükəsizlik tədbirləri tətbiq edirik və namizədlər tərəfindən təqdim olunan həssas məlumatları qorumaq üçün ciddi məxfilik siyasətlərinə əməl edirik. Məlumatınız yalnız işə müraciət etdiyiniz zaman və ya iş fürsətinə maraq göstərdiyiniz zaman işəgötürənlərlə paylaşılır.</p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">İşəgötürənlər əvvəlki müraciətlərdən namizədlərin profillərinə və CV-lərinə baxa bilərmi?
                  <span class="icon"></span>
                </div>
                <div class="toggle-content">
                  <p>Bəli, işəgötürənlər öz İş Zonaları hesabı vasitəsilə əvvəlki müraciətlərdən namizədlərin profillərinə və CV-lərinə daxil ola bilərlər. Bu xüsusiyyət işəgötürənlərə keçmiş namizədləri nəzərdən keçirməyə və onları cari və ya gələcək iş yerləri üçün nəzərdən keçirməyə, işə qəbul prosesini sadələşdirməyə və namizəd hovuzundan maksimum istifadə etməyə imkan verir.</p>
                </div>
              </div>
              <div class="flat-toggle">
                <div class="toggle-title">Mən Job Zone platformasını və istifadəçi təcrübəsini təkmilləşdirmək üçün rəy və ya təklifləri necə təqdim edə bilərəm?
                  <span class="icon"></span>
                </div>
                <div class="toggle-content">
                  <p>Job Zone istifadəçilərin rəylərini qiymətləndirir və platformamızı və istifadəçi təcrübəmizi təkmilləşdirmək üçün təklifləri alqışlayır. Siz birbaşa dəstək komandamızla əlaqə saxlayaraq və ya veb saytımızda mövcud rəy formasından istifadə edərək rəy bildirə bilərsiniz. Sizin məlumatınız istifadəçilərimizə daha yaxşı xidmət göstərmək üçün xidmətlərimizi daim təkmilləşdirməyə kömək edir.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('../partical/footer.ejs') %>
  </div><!-- /.boxed --> 

<script src="/js/jquery.min.js"></script>
<script src="/js/swiper-bundle.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/boostrap-select.min.js"></script>
<script src="/js/jquery.fancybox.js"></script>
<script src="/js/plugin.min.js"></script>
<script src='/js/wow.min.js'></script>
<script src='/js/swiper.js'></script>
<script src='/js/jquery.nice-select.min.js'></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/switcher.js"></script>
<script src="/js/main.js"></script>

</body>

<!-- Mirrored from themesflat.co/html/jobtex/accordion-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 May 2024 18:45:17 GMT -->
</html>