
  <%- include('../partical/header.ejs') %>
  <!-- END HEADER -->


  <section class="blog-section">
    <div class="tf-container">
      <div class="group-col-3">
        <div class="widget-blog-1 style-1 cl3 stc">
          <div class="img-blog">
            <img src="/img/blog/image-15.jpg" alt="image">
          </div>
          <div class="content">
            <span class="sub-title">Business</span>
            <h3 class="main-title"><a href="/blog/detail/">How to build a loyal community online and offline</a></h3>
            <ul class="meta">
              <li class="author"><span>by</span>Avitex</li>
              <li class="time"><span class="icon-calendar"></span> 2 days ago</li>
            </ul>
          </div>
        </div>
        <div class="widget-blog-1 style-1 cl3 stc">
          <div class="img-blog">
            <img src="/img/blog/image-16.jpg" alt="image">

          </div>
          <div class="content">
            <span class="sub-title">Makerting</span>
            <h3 class="main-title"><a href="blog-detail.html">How to design your site footer like we did</a></h3>
            <ul class="meta">
              <li class="author"><span>by</span>Avitex</li>
              <li class="time"><span class="icon-calendar"></span> 2 days ago</li>
            </ul>
          </div>
        </div>
        <div class="widget-blog-1 style-1 cl3 stc">
          <div class="img-blog">
            <img src="/img/blog/image-17.jpg" alt="image">
          </div>
          <div class="content">
            <span class="sub-title">Development</span>
            <h3 class="main-title"><a href="blog-detail.html">How a visual artist redefines success in graphic
                design</a></h3>
            <ul class="meta">
              <li class="author"><span>by</span>Avitex</li>
              <li class="time"><span class="icon-calendar"></span> 2 days ago</li>
            </ul>
          </div>
        </div>
        <div class="widget-blog-1 style-1 cl3 stc">
          <div class="img-blog">
            <img src="/img/blog/image-18.jpg" alt="image">

          </div>
          <div class="content">
            <span class="sub-title">Development</span>
            <h3 class="main-title"><a href="blog-detail.html">Helping a local business reinvent itself</a></h3>
            <ul class="meta">
              <li class="author"><span>by</span>Avitex</li>
              <li class="time"><span class="icon-calendar"></span> 2 days ago</li>
            </ul>
          </div>
        </div>
        <div class="widget-blog-1 style-1 cl3 stc">
          <div class="img-blog">
            <img src="/img/blog/image-19.jpg" alt="image">

          </div>
          <div class="content">
            <span class="sub-title">Makerting</span>
            <h3 class="main-title"><a href="blog-detail.html">Travelling as a way of self-discovery and progress</a>
            </h3>
            <ul class="meta">
              <li class="author"><span>by</span>Avitex</li>
              <li class="time"><span class="icon-calendar"></span> 2 days ago</li>
            </ul>
          </div>
        </div>
        <div class="widget-blog-1 style-1 cl3 stc">
          <div class="img-blog">
            <img src="/img/blog/image-20.jpg" alt="">

          </div>
          <div class="content">
            <span class="sub-title">Design</span>
            <h3 class="main-title"><a href="blog-detail.html">Where to grow your business as a photographer</a></h3>
            <ul class="meta">
              <li class="author"><span>by</span>Avitex</li>
              <li class="time"><span class="icon-calendar"></span> 2 days ago</li>
            </ul>
          </div>
        </div>
        <div class="widget-blog-1 style-1 cl3 stc">
          <div class="img-blog">
            <img src="/img/blog/image-21.jpg" alt="">

          </div>
          <div class="content">
            <span class="sub-title">Design</span>
            <h3 class="main-title"><a href="blog-detail.html">How to choose the right customer </a></h3>
            <ul class="meta">
              <li class="author"><span>by</span>Avitex</li>
              <li class="time"><span class="icon-calendar"></span> 2 days ago</li>
            </ul>
          </div>
        </div>
        <div class="widget-blog-1 style-1 cl3 stc">
          <div class="img-blog">
            <img src="/img/blog/image-22.jpg" alt="">

          </div>
          <div class="content">
            <span class="sub-title">Development</span>
            <h3 class="main-title"><a href="blog-detail.html">Start a blog to reach your creative peak</a></h3>
            <ul class="meta">
              <li class="author"><span>by</span>Avitex</li>
              <li class="time"><span class="icon-calendar"></span> 2 days ago</li>
            </ul>
          </div>
        </div>
        <div class="widget-blog-1 style-1 cl3 stc">
          <div class="img-blog">
            <img src="/img/blog/image-23.jpg" alt="">

          </div>
          <div class="content">
            <span class="sub-title">Makerting</span>
            <h3 class="main-title"><a href="blog-detail.html">Starting your traveling blog with Vasco</a></h3>
            <ul class="meta">
              <li class="author"><span>by</span>Avitex</li>
              <li class="time"><span class="icon-calendar"></span> 2 days ago</li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="pagination-job">
        <li><a href="#"><i class="icon-keyboard_arrow_left"></i></a></li>
        <li><a href="#">1</a></li>
        <li class="current"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#"><i class="icon-keyboard_arrow_right"></i></a></li>
      </ul>
    </div>

  </section>

  <%- include('../partical/footer.ejs') %>
  </div><!-- /.boxed --> 


  <script src="/js/jquery.min.js"></script>
  <script src="/js/swiper-bundle.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/boostrap-select.min.js"></script>
  <script src="/js/jquery.fancybox.js"></script>
  <script src="/js/plugin.min.js"></script>
  <script src='/js/wow.min.js'></script>
  <script src='/js/swiper.js'></script>
  <script src='/js/jquery.nice-select.min.js'></script>
  <script src="/js/jquery.cookie.js"></script>
  <script src="/js/switcher.js"></script>
  
  <script src="/js/main.js"></script>
  <script src="/js/jquery-ui.min.js"></script>


</body>


<!-- Mirrored from themesflat.co/html/jobtex/blog-grid.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 May 2024 18:45:11 GMT -->
</html>