<%- include("./../partical/header.ejs") %>

<section class="tf-slider sl9 ">
  <div class="tf-container">
    <div class="row">
      <div class="col-lg-12">
        <div class="content">
          <div class="form-sl stc">
            <form method="post">
              <div class="row-group-search home1 st">
                <div class="form-group-1 ">
                  <span class="icon-search search-job"></span>
                  <input type="text" class="input-filter-search" id="keywordJobs" placeholder="Job title, key words or company">
                </div>

                <div class="form-group-2">
                  <span class="icon-map-pin"></span>
                <input id="homelocationINPUT" style="padding-left: 37px; color: black; border-radius: 15px; border: none;" class="locationHome" placeholder="Location" type="text">
                <ul id="homeLocation" class="homelocationUL" style="display: none; border-radius: 15px; width: 300px; position: absolute; top: 43px; left: 50px; background: white; border: 1px solid rgb(236, 236, 236); ">
                  <li>Lorem, ipsum dolor.</li>
                  <li>Lorem, ipsum dolor.</li>
                  <li>Lorem, ipsum dolor.</li>
                  <li>Lorem, ipsum dolor.</li>
                  <li>Lorem, ipsum dolor.</li>
                  <li>Lorem, ipsum dolor.</li>
                  <li>Lorem, ipsum dolor.</li>
                  <li>Lorem, ipsum dolor.</li>
                </ul>
                </div>

                <div class="form-group-4">
                  <button type="button" id="filterJobsHome" class="btn btn-find">Find Jobs</button>
                </div>

                <div id="filterOpenBtn" class="form-group-5 filterOpenBtn">
                  <i  class="fa-solid fa-filter"></i>
                  <span>Filter</span>
                </div>

              </div>
            </form>
            <!-- End Job  Search Form-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="filterBox" class="filterBox">
<div class="row">
<div class="filter-top-box col-12 row">
  <div class="col-9 filter-title">Filter</div>
  <div id="filterClose" class="col-3 filter-close-btn"> <i class="fa-solid fa-xmark"></i> </div>
</div>



<div class="col-12 filter-all-box">
  <label for="">Departmen</label>
  <input type="text" placeholder="Category" id="categorySelect">


  <ul id="categorySelectUL" class="categoryUL">
    <li>Lorem, ipsum dolor.</li>
    <li>Lorem, ipsum dolor.</li>
    <li>Lorem, ipsum dolor.</li>
    <li>Lorem, ipsum dolor.</li>
    <li>Lorem, ipsum dolor.</li>
    <li>Lorem, ipsum dolor.</li>
    <li>Lorem, ipsum dolor.</li>
    <li>Lorem, ipsum dolor.</li>
    <li>Lorem, ipsum dolor.</li>
    <li>Lorem, ipsum dolor.</li>

  </ul>



</div>

<div class="col-12 filter-all-box">
  <label for="">City</label>
  <input type="text" placeholder="City" id="citySelect">
  <ul id="citySelectUL" class="cityUL">
    <li>Lorem, ipsum dolor.</li>
    <li>Lorem, ipsum dolor.</li>
    <li>Lorem, ipsum dolor.</li>
    <li>Lorem, ipsum dolor.</li>
    <li>Lorem, ipsum dolor.</li>
    <li>Lorem, ipsum dolor.</li>
    <li>Lorem, ipsum dolor.</li>
    <li>Lorem, ipsum dolor.</li>
    <li>Lorem, ipsum dolor.</li>
    <li>Lorem, ipsum dolor.</li>

  </ul>
</div>


<div class="col-12 filter-all-box">
  <label for="">Mode Of Operation</label>
  <p id="modeofopereation" class="modeofopereation"><i id="modeofNumberView" style="line-height: 40px; font-size: 15px; color: rgb(23, 115, 168); padding-left: 20px;  font-weight: 500;">Select</i>  <i style="float: right; line-height: 40px; padding-right: 14px;" class="fa-solid fa-chevron-down"></i></p>
  <ul id="modeofopereationUL" class="modeofopereationUL" >
    <li data-value="remote"><i>Remote</i> <input value="remote" type="checkbox" ></li>
    <li data-value="hybrid"><i>Hybrid</i> <input value="hybrid" type="checkbox" ></li>
    <li data-value="fulltime"><i>Full Time</i> <input value="fulltime" type="checkbox" ></li>
    <li data-value="intern"><i>Intern</i> <input value="intern" type="checkbox" ></li>
    <li data-value="voluntary"><i>Voluntary</i> <input value="voluntary" type="checkbox" ></li>
    <li data-value="temporary"><i>Temporary</i> <input value="temporary" type="checkbox" ></li>
    <li data-value="free"><i>Free</i> <input value="free" type="checkbox" ></li>
    <li data-value="parttime"><i>Part time</i> <input value="parttime" type="checkbox" ></li>

   
  </ul>

</div>
<div class="col-12 filter-all-box">
  <label for="">Age</label>
  <div class="row">
    <div class="col-5"> 
      <input id="agemin" style=" font-size: 13px; text-transform: lowercase; padding-left: 10px; padding-right: 0px;" type="number" placeholder="Min:">
    </div>
    <div class="col-5">
      <input id="agemax" style="margin-left: -10px; font-size: 13px; text-transform: lowercase; padding-left: 10px; padding-right: 0px;" type="number" placeholder="Max">
    </div>

  </div>
</div>

<div class="col-12 filter-all-box">
  <label for="">Gender</label>
 <select name="" id="genderCandidatesID">
  <option value="2">Select</option>
  <option value="1">Mane</option>
  <option value="0">Woman</option>
 </select>
</div>


<div class="col-12 filter-all-box">
  <label for="">Exprence Time</label>
  <input id="exprencetime" type="number" placeholder="Number">
</div>



<div class="col-12 filter-all-box">
  <label for="">Qualification</label>
 <select name="" id="qualdegree">
  <option data-value="" value="">Sdelect</option>
  <option data-value="0" value="highschool">High school</option>
  <option data-value="1" value="vocationalschool">Vocational school</option>
  <option data-value="2" value="certified">Certified</option>
  <option data-value="3" value="bachelordegree">Bachelor degree</option>
  <option data-value="4" value="mastersdegree">Master's degree</option>
  <option data-value="5" value="associatedegree">Associate Degree</option>
  <option data-value="6" value="doctoralDegree">Doctoral Degree</option>


 </select>
</div>




<div class="col-12 filter-all-box">
  <label for="">Date Posted</label>
  
  <div class="row">
    <div class="col-5"> 
      <input value="" id="datemin" style=" font-size: 13px; text-transform: lowercase; padding-left: 3px; padding-right: 0px;" type="date">
    </div>
    <div class="col-5">
      <input value="" id="datemax" style="margin-left: -10px; font-size: 13px; text-transform: lowercase; padding-left: 3px; padding-right: 0px;" type="date" >
    </div>

  </div>
</div>




<button id="filterClick" type="button" class="filterClick">Find Jobs</button>
<br><br><br><br><br><br>
</div>
</div>












  <section class="candidates-section">
        <div class="tf-container">
            <div class="row">
                <div class="col-lg-12 tf-tab">
                
                        <div class="content-tab">
                          <div class="inner">
                            <div class="group-col-2" id="jobBox">

                     

                            </div>

                            <ul class="pagination-job p-top-st1">
                                <li><a href="#"><i class="icon-keyboard_arrow_left"></i></a></li>
                                <li><a href="#">1</a></li>
                                <li class="current"><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#"><i class="icon-keyboard_arrow_right"></i></a></li>
                              </ul>
                        </div>
                        
                        </div>
                </div>
            </div>
        </div>
  </section>

  <footer class="footer">
    <div class="top-footer">
        <div class="tf-container">
            <div class="row">
                <div class="col-lg-2 col-md-4">
                    <div class="footer-logo">
                        <img src="/img/logo.png" alt="/img">
                    </div>
                </div>
                <div class="col-lg-10 col-md-8">
                    <div class="wd-social d-flex aln-center">
                        <span>Follow Us:</span>
                        <ul class="list-social d-flex aln-center">
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-pinterest"></i></a></li>
                            <li><a href="#"><i class="icon-instagram1"></i></a></li>
                            <li><a href="#"><i class="icon-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inner-footer">
        <div class="tf-container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-cl-1">
                        <div class="icon-infor d-flex aln-center">
                            <div class="icon">
                                <span class="icon-call-calling"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
                            </div>
                            <div class="content">
                                <p>Need help? 24/7</p>
                                <h6><a href="tel:0123456678">001-1234-88888</a></h6>
                            </div>
                        </div>
                        <p>Job Searching Just Got Easy. Use Jobtex to run a hiring site and earn money in the process!</p>
                        <div class="ft-icon"> <i class="icon-map-pin"></i> 101 E 129th St, East Chicago, IN 46312, US</div>
                        <form action="#" id="subscribe-form">
                            <input type="email" placeholder="Your email address" required="" id="subscribe-email">
                            <button class="tf-button" type="submit" id="subscribe-button"><i class="icon-paper-plane-o"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-6">
                    <div class="footer-cl-2">
                        <h6 class="ft-title">
                            Quick Links
                        </h6>
                        <ul class="navigation-menu-footer">
                            <li> <a href="find-jobs-list.html">Job Packages</a> </li>
                            <li> <a href="find-jobs-list.html">Post New Job</a> </li>
                            <li> <a href="find-jobs-list.html">Jobs Listing</a> </li>
                            <li> <a href="find-jobs-list.html">Jobs Style Grid</a> </li>
                            <li> <a href="employers-list.html">Employer Listing</a> </li>
                            <li> <a href="employers-grid-fullwidth.html">Employers Grid</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="footer-cl-3">
                        <h6 class="ft-title">
                            For Candidates
                        </h6>
                        <ul class="navigation-menu-footer">
                            <li> <a href="dashboard.html">User Dashboard</a> </li>
                            <li> <a href="sample-cv.html">CV Packages</a> </li>
                            <li> <a href="candidate-list-sidebar.html">Candidate Listing</a> </li>
                            <li> <a href="candidate-grid.html">Candidates Grid</a> </li>
                            <li> <a href="about-us.html">About us</a> </li>
                            <li> <a href="contact-us.html">Contact us </a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="footer-cl-4">
                        <h6 class="ft-title">
                            For Employers
                        </h6>
                        <ul class="navigation-menu-footer">
                            <li> <a href="find-jobs-list.html">Post New Job</a> </li>
                            <li> <a href="employers-list.html">Employer Listing</a> </li>
                            <li> <a href="employers-grid-sidebar.html">Employers Grid</a> </li>
                            <li> <a href="find-jobs-list.html">Job Packages</a> </li>
                            <li> <a href="find-jobs-list.html">Jobs Listing</a> </li>
                            <li> <a href="find-jobs-grid.html">Jobs Style Grid</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="footer-cl-5">
                        <h6 class="ft-title">
                            Download App
                        </h6>
                        <ul class="ft-download">
                            <li> <a href="#"><img src="/img/review/btn3.png" alt="/img"></a></li>
                            <li> <a href="#"><img src="/img/review/btn4.png" alt="/img"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="tf-container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="bt-left">
                        <div class="copyright">©2023 Themesflat. All Rights Reserved.</div>
                        <span class="select-language">
                          <select class="image-select">
                            <option data-thumbnail="/img/review/flag.png">English</option>
                            <option data-thumbnail="/img/review/flag3.png">USA</option>
                            <option data-thumbnail="/img/review/flag2.png">VN</option>
                          </select>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul class="menu-bottom d-flex aln-center">
                        <li><a href="term-of-use.html">Terms Of Services</a> </li>
                        <li><a href="pricing.html">Privacy Policy</a> </li>
                        <li><a href="contact-us.html">Cookie Policy</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </footer>
  </div><!-- /.boxed --> 


<script src="/js/jquery.min.js"></script>
<script src="/js/swiper-bundle.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/boostrap-select.min.js"></script>
<script src="/js/jquery.fancybox.js"></script>
<script src="/js/plugin.min.js"></script>
<script src='/js/wow.min.js'></script>
<script src='/js/swiper.js'></script>
<script src='/js/jquery.nice-select.min.js'></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/switcher.js"></script>
<script src="/js/hymain.js"></script>
<script type="module" src="/js/hycandidates.js"></script>
<script src="/js/hyclickcandidates.js"></script>
<script src="/js/main.js"></script>
</body>

<!-- Mirrored from themesflat.co/html/jobtex/candidate.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 May 2024 18:45:00 GMT -->
</html>