
  <%- include('../partical/header.ejs') %>
  <!-- END HEADER -->





  <section class="tf-slider sl9 ">
    <div class="tf-container">
      <div class="row">
        <div class="col-lg-12">
          <div class="content">
            <div class="form-sl stc">
              <form method="post">
                <div class="row-group-search home1 st">
                  <div class="form-group-1 ">
                    <span class="icon-search search-job"></span>
                    <input type="text" class="input-filter-search" id="keywordJobs" placeholder="Job title, key words or company">
                  </div>

                  <div class="form-group-2">
                    <span class="icon-map-pin"></span>
                  <input id="homelocationINPUT" style="padding-left: 37px; color: black; border-radius: 15px; border: none;" class="locationHome" placeholder="Location" type="text">
                  <ul id="homeLocation" class="homelocationUL" style="display: none; border-radius: 15px; width: 300px; position: absolute; top: 43px; left: 50px; background: white; border: 1px solid rgb(236, 236, 236); ">
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum dolor.</li>
                  </ul>
                  </div>

                  <div class="form-group-4">
                    <button type="button" id="filterJobsHome" class="btn btn-find">Find Jobs</button>
                  </div>

                  <div id="filterOpenBtn" class="form-group-5 filterOpenBtn">
                    <i  class="fa-solid fa-filter"></i>
                    <span>Filter</span>
                  </div>

                </div>
              </form>
              <!-- End Job  Search Form-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<div id="filterBox" class="filterBox">
<div class="row">
  <div class="filter-top-box col-12 row">
    <div class="col-9 filter-title">Filter</div>
    <div id="filterClose" class="col-3 filter-close-btn"> <i class="fa-solid fa-xmark"></i> </div>
  </div>



  <div class="col-12 filter-all-box">
    <label for="">Category</label>
    <input type="text" placeholder="Category" id="categorySelect">


    <ul id="categorySelectUL" class="categoryUL">
      <li>Lorem, ipsum dolor.</li>
      <li>Lorem, ipsum dolor.</li>
      <li>Lorem, ipsum dolor.</li>
      <li>Lorem, ipsum dolor.</li>
      <li>Lorem, ipsum dolor.</li>
      <li>Lorem, ipsum dolor.</li>
      <li>Lorem, ipsum dolor.</li>
      <li>Lorem, ipsum dolor.</li>
      <li>Lorem, ipsum dolor.</li>
      <li>Lorem, ipsum dolor.</li>

    </ul>



  </div>

  <div class="col-12 filter-all-box">
    <label for="">City</label>
    <input type="text" placeholder="City" id="citySelect">
    <ul id="citySelectUL" class="cityUL">
      <li>Lorem, ipsum dolor.</li>
      <li>Lorem, ipsum dolor.</li>
      <li>Lorem, ipsum dolor.</li>
      <li>Lorem, ipsum dolor.</li>
      <li>Lorem, ipsum dolor.</li>
      <li>Lorem, ipsum dolor.</li>
      <li>Lorem, ipsum dolor.</li>
      <li>Lorem, ipsum dolor.</li>
      <li>Lorem, ipsum dolor.</li>
      <li>Lorem, ipsum dolor.</li>

    </ul>
  </div>


  <div class="col-12 filter-all-box">
    <label for="">Mode Of Operation</label>
    <p id="modeofopereation" class="modeofopereation"><i id="modeofNumberView" style="line-height: 40px; font-size: 15px; color: rgb(23, 115, 168); padding-left: 20px;  font-weight: 500;">Select</i>  <i style="float: right; line-height: 40px; padding-right: 14px;" class="fa-solid fa-chevron-down"></i></p>
    <ul id="modeofopereationUL" class="modeofopereationUL" >
      <li data-value="remote"><i>Remote</i> <input value="remote" type="checkbox" ></li>
      <li data-value="hybrid"><i>Hybrid</i> <input value="hybrid" type="checkbox" ></li>
      <li data-value="fulltime"><i>Full Time</i> <input value="fulltime" type="checkbox" ></li>
      <li data-value="intern"><i>Intern</i> <input value="intern" type="checkbox" ></li>
      <li data-value="voluntary"><i>Voluntary</i> <input value="voluntary" type="checkbox" ></li>
      <li data-value="temporary"><i>Temporary</i> <input value="temporary" type="checkbox" ></li>
      <li data-value="free"><i>Free</i> <input value="free" type="checkbox" ></li>
      <li data-value="parttime"><i>Part time</i> <input value="parttime" type="checkbox" ></li>

     
    </ul>

  </div>


  <div class="col-12 filter-all-box">
    <label for="">Salary</label>
    <div class="row">
      <div class="col-5"> 
        <input id="salarymin" style=" font-size: 13px; text-transform: lowercase; padding-left: 10px; padding-right: 0px;" type="number" placeholder="Min:">
      </div>
      <div class="col-5">
        <input id="salarymax" style="margin-left: -10px; font-size: 13px; text-transform: lowercase; padding-left: 10px; padding-right: 0px;" type="number" placeholder="Max">
      </div>

    </div>
  </div>


  <div class="col-12 filter-all-box">
    <label for="">Qualification</label>
   <select name="" id="qualdegree">
    <option data-value="" value="">Sdelect</option>
    <option data-value="0" value="highschool">High school</option>
    <option data-value="1" value="vocationalschool">Vocational school</option>
    <option data-value="2" value="certified">Certified</option>
    <option data-value="3" value="bachelordegree">Bachelor degree</option>
    <option data-value="4" value="mastersdegree">Master's degree</option>
    <option data-value="5" value="associatedegree">Associate Degree</option>
    <option data-value="6" value="doctoralDegree">Doctoral Degree</option>


   </select>
  </div>

  <div class="col-12 filter-all-box">
    <label for="">Kariyrt level</label>
   <select name="" id="careerlevel">
    <option value="">Select</option>
    <option data-value="0" value="entrylevel">Entry Level</option>
    <option data-value="1" value="specialist">Specialist</option>
    <option data-value="2" value="management">Management</option>
    <option data-value="3" value="director">Director</option>
    <option data-value="4" value="execution">Execution</option>
   </select>
  </div>


  <div class="col-12 filter-all-box">
    <label for="">Staj</label>
    <input id="staj" type="number" placeholder="Number">
  </div>


  <div class="col-12 filter-all-box">
    <label for="">Date Posted</label>
    
    <div class="row">
      <div class="col-5"> 
        <input value="" id="datemin" style=" font-size: 13px; text-transform: lowercase; padding-left: 3px; padding-right: 0px;" type="date">
      </div>
      <div class="col-5">
        <input value="" id="datemax" style="margin-left: -10px; font-size: 13px; text-transform: lowercase; padding-left: 3px; padding-right: 0px;" type="date" >
      </div>

    </div>
  </div>

  <div class="col-12 filter-all-box">
    <label for="">Location</label>
   <select name="" id="locationMAp">
    <option value="1">Mevvcut Konumu Kullan</option>
    <option value="0">Kayıtlı Olan Konumumu Kullan</option>


   </select>
  </div>



  <div class="col-12 filter-all-box">
    <label for="">Radius <span id="radiusKM">250</span> <b> KM</b></label>

    <div style="width: 90%; display: flex; margin: auto; align-items: center; position: relative;">
      <div id="rx" style="padding: 13px 4px;">
  <div  style="width: 250px; height: 7px; border-radius: 14px; background-color: rgb(212, 212, 212);"></div>
  </div>
  <div id="rTop" style=" border-radius: 50%; width: 14px; height: 14px; background-color: white; border: 2px solid green; position: absolute; left: 250px;"></div>
     </div>
  
  </div>

      



<button id="filterClick" type="button" class="filterClick">Find Jobs</button>
<br><br><br><br><br><br>
</div>
</div>








  <section class="inner-jobs-section">
    <div class="tf-container">
      <div class="row">
        <div class="col-lg-12 tf-tab">
          
       

          <div class="content-tab">


            <div class="inner">
              <div id="jobBox" class="group-col-2">
              


              </div>

              <ul class="pagination-job padding" id="pageBox">
                
              </ul>
            </div>

            
          </div>


        </div>
      </div>
    </div>
  </section>

  <%- include('../partical/footer.ejs') %>
  </div><!-- /.boxed --> 

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/boostrap-select.min.js"></script>
  <script src="/js/jquery.fancybox.js"></script>
  <script src="/js/plugin.min.js"></script>
  <script src='/js/wow.min.js'></script>
  <script src='/js/swiper.js'></script>
  <script src='/js/jquery.nice-select.min.js'></script>
  <script src="/js/main.js"></script>
  <script src="/js/jquery.cookie.js"></script>
  <script src="/js/switcher.js"></script>
  
  <script src="/js/hymain.js"></script>
  <script type="module" src="/js/hyhome.js"></script>
  <script src="/js/hyclickfindjob.js"></script>




  <script src="/js/jquery-ui.min.js"></script>


</body>


<!-- Mirrored from themesflat.co/html/jobtex/find-jobs-grid.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 May 2024 18:44:45 GMT -->
</html>