

    <%- include('../partical/header.ejs') %>

    <section class="tf-slider sl9 ">
      <div class="tf-container">
        <div class="row">
          <div class="col-lg-12">
            <div class="content">
              <div class="form-sl stc">
                <form method="post">
                  <div class="row-group-search home1 st">
                    <div class="form-group-1 ">
                      <span class="icon-search search-job"></span>
                      <input type="text" class="input-filter-search" placeholder="Job title, key words or company">
                    </div>
                    <div class="form-group-2">
                      <span class="icon-map-pin"></span>
                      <select id="select-location" class="select-location">
                        <option value="">All Location</option>
                        <option value="">Japan</option>
                        <option value="">Canada</option>
                        <option value="">England</option>
                        <option value="">Mexico</option>
                      </select>
                    </div>
                    <div class="form-group-4">
                      <button type="submit" class="btn btn-find">Find Jobs</button>
                    </div>
                  </div>
                </form>
                <!-- End Job  Search Form-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="form-sticky form-meta2">
      <div class="tf-container">
        <div class="row">
          <div class="col-lg-12">
            <div class="meta-category-job fixed-content">
              <ul class="category-filter">
                <li>
                  <select>
                    <option>Remote</option>
                    <option>All Salary</option>
                    <option>Company</option>
                  </select>
                </li>
                <li>
                  <select>
                    <option>All Job Types</option>
                    <option>All Salary</option>
                    <option>Company</option>
                  </select>
                </li>
                <li>
                  <select>
                    <option>All Salary</option>
                    <option>All Salary</option>
                    <option>Company</option>
                  </select>
                </li>
                <li>
                  <select>
                    <option>Any Distance</option>
                    <option>All Salary</option>
                    <option>Company</option>
                  </select>
                </li>
                <li>
                  <select>
                    <option>All Job Title</option>
                    <option>All Salary</option>
                    <option>Company</option>
                  </select>
                </li>
                <li>
                  <select>
                    <option>Posted Anytime</option>
                    <option>All Salary</option>
                    <option>Company</option>
                  </select>
                </li>
                <li>
                  <select>
                    <option>All Seniority Levels</option>
                    <option>All Salary</option>
                    <option>Company</option>
                  </select>
                </li>
                <li>
                  <select>
                    <option>Company</option>
                    <option>All Salary</option>
                    <option>Company</option>
                  </select>
                </li>
              </ul>
              <div class="meta-nofication">
                <div class="nofi"><span>1249</span> jobs recommended for you</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="tab-section">
      <div class="tf-container">
        <div class="row tf-tab">
          <div class="col-xl-5 col-lg-5 col-md-12">
            <div class="group-job-sidebar">
              <div class="list-job menu-tab">
                <div class="features-job mg-bt-0 ct-tab active">
                  <div class="job-archive-header">
                    <div class="inner-box">
                      <div class="logo-company">
                        <img src="/img/logo-company/cty1.png" alt="/img/logo-company/cty1.png" />
                      </div>
                      <div class="box-content">
                        <h4>
                          <a href="jobs-single.html">Rockstar Games New York, Inc</a>
                        </h4>
                        <h3>
                          <a href="jobs-single.html">Caregiver for Veterans</a>
                          <span class="icon-bolt"></span>
                        </h3>
                        <ul>
                          <li>
                            <span class="icon-map-pin"></span>
                            Las Vegas, NV 89107, USA
                          </li>
                          <li>
                            <span class="icon-calendar"></span>
                            2 days ago
                          </li>
                        </ul>
                        <span class="icon-heart"></span>
                      </div>
                    </div>
                  </div>
                  <div class="job-archive-footer">
                    <div class="job-footer-left">
                      <ul class="job-tag">
                        <li><a href="#">Contract</a> </li>
                        <li><a href="#">Remote</a> </li>
                      </ul>
                      <div class="star">
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                      </div>
                    </div>
                    <div class="job-footer-right">
                      <div class="price">
                        <span class="icon-dolar1"></span>
                        <p>$83,000 - $110,000 <span class="year">/year</span></p>
                      </div>
                      <p class="days">35 days left to apply</p>
                    </div>
                  </div>
                </div>
                <div class="features-job mg-bt-0 ct-tab">
                  <div class="job-archive-header">
                    <div class="inner-box">
                      <div class="logo-company">
                        <img src="/img/logo-company/cty11.png" alt="/img/logo-company/cty11.png" />
                      </div>
                      <div class="box-content">
                        <h4>
                          <a href="jobs-single.html">Rockstar Games New York</a>
                        </h4>
                        <h3>
                          <a href="jobs-single.html">Senior UI/UX Designer</a>
                          <span class="icon-bolt"></span>
                        </h3>
                        <ul>
                          <li>
                            <span class="icon-map-pin"></span>
                            Las Vegas, NV 89107, USA
                          </li>
                          <li>
                            <span class="icon-calendar"></span>
                            2 days ago
                          </li>
                        </ul>
                        <span class="icon-heart"></span>
                      </div>
                    </div>
                  </div>
                  <div class="job-archive-footer">
                    <div class="job-footer-left">
                      <ul class="job-tag">
                        <li><a href="#">Part-time</a> </li>
                        <li><a href="#">On-site</a></li>
                      </ul>
                      <div class="star">
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                      </div>
                    </div>
                    <div class="job-footer-right">
                      <div class="price">
                        <span class="icon-dolar1"></span>
                        <p>$83,000 - $110,000 <span class="year">/year</span></p>
                      </div>
                      <p class="days">32 days left to apply</p>
                    </div>
                  </div>
                </div>
                <div class="features-job mg-bt-0 ct-tab">
                  <div class="job-archive-header">
                    <div class="inner-box">
                      <div class="logo-company">
                        <img src="/img/logo-company/cty8.png" alt="/img/logo-company/cty8.png" />
                      </div>
                      <div class="box-content">
                        <h4>
                          <a href="jobs-single.html">Big Fish Games, Inc</a>
                        </h4>
                        <h3>
                          <a href="jobs-single.html">Systems Operator</a>
                          <span class="icon-bolt"></span>
                        </h3>
                        <ul>
                          <li>
                            <span class="icon-map-pin"></span>
                            Las Vegas, NV 89107, USA
                          </li>
                          <li>
                            <span class="icon-calendar"></span>
                            2 days ago
                          </li>
                        </ul>
                        <span class="icon-heart"></span>
                      </div>
                    </div>
                  </div>
                  <div class="job-archive-footer">
                    <div class="job-footer-left">
                      <ul class="job-tag">
                        <li><a href="#">Contract</a> </li>
                        <li><a href="#"> Remote</a></li>
                      </ul>
                      <div class="star">
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                      </div>
                    </div>
                    <div class="job-footer-right">
                      <div class="price">
                        <span class="icon-dolar1"></span>
                        <p>$83,000 - $110,000 <span class="year">/year</span></p>
                      </div>
                      <p class="days">27 days left to apply</p>
                    </div>
                  </div>
                </div>
                <div class="features-job mg-bt-0 ct-tab">
                  <div class="job-archive-header">
                    <div class="inner-box">
                      <div class="logo-company">
                        <img src="/img/logo-company/cty2.png" alt="/img/logo-company/cty2.png" />
                      </div>
                      <div class="box-content">
                        <h4>
                          <a href="jobs-single.html">FullStack Labs, Inc</a>
                        </h4>
                        <h3>
                          <a href="jobs-single.html">Project manager</a>
                          <span class="icon-bolt"></span>
                        </h3>
                        <ul>
                          <li>
                            <span class="icon-map-pin"></span>
                            Las Vegas, NV 89107, USA
                          </li>
                          <li>
                            <span class="icon-calendar"></span>
                            2 days ago
                          </li>
                        </ul>
                        <span class="icon-heart"></span>
                      </div>
                    </div>
                  </div>
                  <div class="job-archive-footer">
                    <div class="job-footer-left">
                      <ul class="job-tag">
                        <li><a href="#">Temporary</a> </li>
                        <li><a href="#">Remote</a> </li>
                      </ul>
                      <div class="star">
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                      </div>
                    </div>
                    <div class="job-footer-right">
                      <div class="price">
                        <span class="icon-dolar1"></span>
                        <p>$83,000 - $110,000 <span class="year">/year</span></p>
                      </div>
                      <p class="days">24 days left to apply</p>
                    </div>
                  </div>
                </div>
                <div class="features-job mg-bt-0 ct-tab">
                  <div class="job-archive-header">
                    <div class="inner-box">
                      <div class="logo-company">
                        <img src="/img/logo-company/cty4.png" alt="/img/logo-company/cty4.png" />
                      </div>
                      <div class="box-content">
                        <h4>
                          <a href="jobs-single.html">Tamari Law Group LLC</a>
                        </h4>
                        <h3>
                          <a href="jobs-single.html">HR Administration</a>
                          <span class="icon-bolt"></span>
                        </h3>
                        <ul>
                          <li>
                            <span class="icon-map-pin"></span>
                            Las Vegas, NV 89107, USA
                          </li>
                          <li>
                            <span class="icon-calendar"></span>
                            2 days ago
                          </li>
                        </ul>
                        <span class="icon-heart"></span>
                      </div>
                    </div>
                  </div>
                  <div class="job-archive-footer">
                    <div class="job-footer-left">
                      <ul class="job-tag">
                        <li><a href="#">Part-time</a></li>
                        <li><a href="#">Remote</a></li>
                      </ul>
                      <div class="star">
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                      </div>
                    </div>
                    <div class="job-footer-right">
                      <div class="price">
                        <span class="icon-dolar1"></span>
                        <p>$83,000 - $110,000 <span class="year">/year</span></p>
                      </div>
                      <p class="days">24 days left to apply</p>
                    </div>
                  </div>
                </div>
                <div class="features-job mg-bt-0 ct-tab">
                  <div class="job-archive-header">
                    <div class="inner-box">
                      <div class="logo-company">
                        <img src="/img/logo-company/cty7.png" alt="/img/logo-company/cty7.png" />
                      </div>
                      <div class="box-content">
                        <h4>
                          <a href="jobs-single.html">Jamcor Corporation, Inc</a>
                        </h4>
                        <h3>
                          <a href="jobs-single.html">Social Media Marketing</a>
                          <span class="icon-bolt"></span>
                        </h3>
                        <ul>
                          <li>
                            <span class="icon-map-pin"></span>
                            Las Vegas, NV 89107, USA
                          </li>
                          <li>
                            <span class="icon-calendar"></span>
                            2 days ago
                          </li>
                        </ul>
                        <span class="icon-heart"></span>
                      </div>
                    </div>
                  </div>
                  <div class="job-archive-footer">
                    <div class="job-footer-left">
                      <ul class="job-tag">
                        <li><a href="#"> Temporary</a></li>
                        <li><a href="#"> Remote</a></li>
                      </ul>
                      <div class="star">
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                      </div>
                    </div>
                    <div class="job-footer-right">
                      <div class="price">
                        <span class="icon-dolar1"></span>
                        <p>$83,000 - $110,000 <span class="year">/year</span></p>
                      </div>
                      <p class="days">21 days left to apply</p>
                    </div>
                  </div>
                </div>
                <div class="features-job mg-bt-0 ct-tab">
                  <div class="job-archive-header">
                    <div class="inner-box">
                      <div class="logo-company">
                        <img src="/img/logo-company/cty9.png" alt="/img/logo-company/cty9.png" />
                      </div>
                      <div class="box-content">
                        <h4>
                          <a href="jobs-single.html">UnitedHealth Group, Inc</a>
                        </h4>
                        <h3>
                          <a href="jobs-single.html">Dev and Architect</a>
                          <span class="icon-bolt"></span>
                        </h3>
                        <ul>
                          <li>
                            <span class="icon-map-pin"></span>
                            Las Vegas, NV 89107, USA
                          </li>
                          <li>
                            <span class="icon-calendar"></span>
                            2 days ago
                          </li>
                        </ul>
                        <span class="icon-heart"></span>
                      </div>
                    </div>
                  </div>
                  <div class="job-archive-footer">
                    <div class="job-footer-left">
                      <ul class="job-tag">
                        <li><a href="#">Full-time</a></li>
                        <li><a href="#"> Remote</a></li>
                      </ul>
                      <div class="star">
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                      </div>
                    </div>
                    <div class="job-footer-right">
                      <div class="price">
                        <span class="icon-dolar1"></span>
                        <p>$83,000 - $110,000 <span class="year">/year</span></p>
                      </div>
                      <p class="days">18 days left to apply</p>
                    </div>
                  </div>
                </div>
                <div class="features-job mg-bt-0 ct-tab">
                  <div class="job-archive-header">
                    <div class="inner-box">
                      <div class="logo-company">
                        <img src="/img/logo-company/cty10.png" alt="/img/logo-company/cty10.png" />
                      </div>
                      <div class="box-content">
                        <h4>
                          <a href="jobs-single.html">TOP Agency, Inc</a>
                        </h4>
                        <h3>
                          <a href="jobs-single.html">Full Stack Development</a>
                          <span class="icon-bolt"></span>
                        </h3>
                        <ul>
                          <li>
                            <span class="icon-map-pin"></span>
                            Las Vegas, NV 89107, USA
                          </li>
                          <li>
                            <span class="icon-calendar"></span>
                            2 days ago
                          </li>
                        </ul>
                        <span class="icon-heart"></span>
                      </div>
                    </div>
                  </div>
                  <div class="job-archive-footer">
                    <div class="job-footer-left">
                      <ul class="job-tag">
                        <li><a href="#"> Temporary</a></li>
                        <li><a href="#"> Remote</a></li>
                      </ul>
                      <div class="star">
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                      </div>
                    </div>
                    <div class="job-footer-right">
                      <div class="price">
                        <span class="icon-dolar1"></span>
                        <p>$83,000 - $110,000 <span class="year">/year</span></p>
                      </div>
                      <p class="days">16 days left to apply</p>
                    </div>
                  </div>
                </div>
                <div class="features-job mg-bt-0 ct-tab">
                  <div class="job-archive-header">
                    <div class="inner-box">
                      <div class="logo-company">
                        <img src="/img/logo-company/cty8.png" alt="/img/logo-company/cty8.png" />
                      </div>
                      <div class="box-content">
                        <h4>
                          <a href="jobs-single.html">Big Fish Games, Inc</a>
                        </h4>
                        <h3>
                          <a href="jobs-single.html">Senior DevOps Engineer</a>
                          <span class="icon-bolt"></span>
                        </h3>
                        <ul>
                          <li>
                            <span class="icon-map-pin"></span>
                            Las Vegas, NV 89107, USA
                          </li>
                          <li>
                            <span class="icon-calendar"></span>
                            2 days ago
                          </li>
                        </ul>
                        <span class="icon-heart"></span>
                      </div>
                    </div>
                  </div>
                  <div class="job-archive-footer">
                    <div class="job-footer-left">
                      <ul class="job-tag">
                        <li><a href="#">Part-time</a></li>
                        <li><a href="#">Remote</a></li>
                      </ul>
                      <div class="star">
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                      </div>
                    </div>
                    <div class="job-footer-right">
                      <div class="price">
                        <span class="icon-dolar1"></span>
                        <p>$83,000 - $110,000 <span class="year">/year</span></p>
                      </div>
                      <p class="days">14 days left to apply</p>
                    </div>
                  </div>
                </div>
                <div class="features-job mg-bt-0 ct-tab">
                  <div class="job-archive-header">
                    <div class="inner-box">
                      <div class="logo-company">
                        <img src="/img/logo-company/cty2.png" alt="/img/logo-company/cty2.png" />
                      </div>
                      <div class="box-content">
                        <h4>
                          <a href="jobs-single.html">FullStack Labs, Inc</a>
                        </h4>
                        <h3>
                          <a href="jobs-single.html">Project manager</a>
                          <span class="icon-bolt"></span>
                        </h3>
                        <ul>
                          <li>
                            <span class="icon-map-pin"></span>
                            Las Vegas, NV 89107, USA
                          </li>
                          <li>
                            <span class="icon-calendar"></span>
                            2 days ago
                          </li>
                        </ul>
                        <span class="icon-heart"></span>
                      </div>
                    </div>
                  </div>
                  <div class="job-archive-footer">
                    <div class="job-footer-left">
                      <ul class="job-tag">
                        <li><a href="#"> Pull-time</a></li>
                        <li><a href="#"> Remote</a></li>
                      </ul>
                      <div class="star">
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                      </div>
                    </div>
                    <div class="job-footer-right">
                      <div class="price">
                        <span class="icon-dolar1"></span>
                        <p>$83,000 - $110,000 <span class="year">/year</span></p>
                      </div>
                      <p class="days">12 days left to apply</p>
                    </div>
                  </div>
                </div>
                <div class="features-job mg-bt-0 ct-tab">
                  <div class="job-archive-header">
                    <div class="inner-box">
                      <div class="logo-company">
                        <img src="/img/logo-company/cty4.png" alt="/img/logo-company/cty4.png" />
                      </div>
                      <div class="box-content">
                        <h4>
                          <a href="jobs-single.html">Tamari Law Group LLC</a>
                        </h4>
                        <h3>
                          <a href="jobs-single.html">HR Administration</a>
                          <span class="icon-bolt"></span>
                        </h3>
                        <ul>
                          <li>
                            <span class="icon-map-pin"></span>
                            Las Vegas, NV 89107, USA
                          </li>
                          <li>
                            <span class="icon-calendar"></span>
                            2 days ago
                          </li>
                        </ul>
                        <span class="icon-heart"></span>
                      </div>
                    </div>
                  </div>
                  <div class="job-archive-footer">
                    <div class="job-footer-left">
                      <ul class="job-tag">
                        <li><a href="#">Part-time</a></li>
                        <li><a href="#">Remote</a></li>
                      </ul>
                      <div class="star">
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                      </div>
                    </div>
                    <div class="job-footer-right">
                      <div class="price">
                        <span class="icon-dolar1"></span>
                        <p>$83,000 - $110,000 <span class="year">/year</span></p>
                      </div>
                      <p class="days">24 days left to apply</p>
                    </div>
                  </div>
                </div>
                <div class="features-job mg-bt-0 ct-tab">
                  <div class="job-archive-header">
                    <div class="inner-box">
                      <div class="logo-company">
                        <img src="/img/logo-company/cty7.png" alt="/img/logo-company/cty7.png" />
                      </div>
                      <div class="box-content">
                        <h4>
                          <a href="jobs-single.html">Jamcor Corporation, Inc</a>
                        </h4>
                        <h3>
                          <a href="jobs-single.html">Social Media Marketing</a>
                          <span class="icon-bolt"></span>
                        </h3>
                        <ul>
                          <li>
                            <span class="icon-map-pin"></span>
                            Las Vegas, NV 89107, USA
                          </li>
                          <li>
                            <span class="icon-calendar"></span>
                            2 days ago
                          </li>
                        </ul>
                        <span class="icon-heart"></span>
                      </div>
                    </div>
                  </div>
                  <div class="job-archive-footer">
                    <div class="job-footer-left">
                      <ul class="job-tag">
                        <li><a href="#">Temporary</a></li>
                        <li><a href="#">Remote</a></li>
                      </ul>
                      <div class="star">
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                        <span class="icon-star-full"></span>
                      </div>
                    </div>
                    <div class="job-footer-right">
                      <div class="price">
                        <span class="icon-dolar1"></span>
                        <p>$83,000 - $110,000 <span class="year">/year</span></p>
                      </div>
                      <p class="days">21 days left to apply</p>
                    </div>
                  </div>
                </div>
                <a href="#" class="btn-load">Load more Job Results (3719)</a>
              </div>
            </div>
          </div>

          <div class="col-xl-7 col-lg-7 col-md-12">

            <div class="content-tab sticky-home2 po-sticky add-mgt">
              <article class="job-article">
                <div class="top-content">
                  <div class="features-job style-2 stc-apply">
                    <div class="job-archive-header">
                      <div class="inner-box">
                        <div class="logo-company">
                          <img src="/img/logo-company/cty11.png" alt="/img/logo-company/cty11.png" />
                        </div>
                        <div class="box-content">
                          <h4>
                            <a href="jobs-single.html">Rockstar Games New York</a>
                          </h4>
                          <h3>
                            <a href="/job/detail/">Senior UI/UX Designer</a>
                            <span class="icon-bolt"></span>
                          </h3>
                          <ul>
                            <li>
                              <span class="icon-map-pin"></span>
                              Las Vegas, NV 89107, USA
                            </li>
                            <li>
                              <span class="icon-calendar"></span>
                              2 days ago
                            </li>
                          </ul>
                          <div class="button-readmore st1">
                            <span class="icon-heart"></span>
                            <a class="btn-apply btn-popup">
                              <span class="icon-send"></span>
                              Apply Now
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="job-archive-footer">
                      <div class="job-footer-left">
                        <ul class="job-tag">
                          <li><a href="#">Full-time</a></li>
                          <li><a href="#"> Remote</a></li>
                        </ul>
                        <div class="star">
                          <span class="icon-star-full"></span>
                          <span class="icon-star-full"></span>
                          <span class="icon-star-full"></span>
                          <span class="icon-star-full"></span>
                          <span class="icon-star-full"></span>
                        </div>
                      </div>
                      <div class="job-footer-right">
                        <div class="price">
                          <span class="icon-dollar"></span>
                          <p>$83,000 - $110,000 <span class="year">/year</span></p>
                        </div>
                        <p class="days">32 days left to apply</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="inner-content home2">
                  <h5>Full Job Description</h5>
                  <p>Are you a User Experience Designer with a track record of delivering intuitive digital experiences
                    that
                    drive results? Are you a strategic storyteller and systems thinker who can concept and craft smart,
                    world-class campaigns across a variety of mediums?
                  </p>
                  <p class="mg-19">Deloitte's Green Dot Agency is looking to add a Lead User Experience Designer to our
                    experience design team. We want a passionate creative who's inspired by new trends and emerging
                    technologies, and is able to integrate them into memorable user experiences. A problem solver who is
                    entrepreneurial, collaborative, hungry, and humble; can deliver beautifully designed, leading-edge
                    experiences under tight deadlines; and who has demonstrated proven expertise.
                  </p>
                  <h6>The Work You'll Do:</h6>
                  <ul class="list-dot">
                    <li> Support the Creative Directors and Associate Creative Directors of experience design to concept
                      and
                      oversee the production of bold, innovative, award-winning campaigns and digital experiences.</li>
                    <li> Make strategic and tactical UX decisions related to design and usability as well as features
                      and
                      functions.</li>
                    <li> Creates low- and high-fidelity wireframes that represent a user's journey.</li>
                    <li> Effectively pitch wireframes to and solutions to stakeholders. You'll be the greatest advocate
                      for
                      our work, but you'll also listen and internalize feedback so that we can come back with creative
                      that
                      exceeds expectations.</li>
                  </ul>
                  <h6>What you'll bring:</h6>
                  <ul class="list-dot mg-bt-15">
                    <li>Passion for Human-Centered Design-a drive to make interactive technology better for people.</li>
                    <li>Thorough knowledge of UX/UI best practices.</li>
                    <li>Understanding of brand identity and working within a defined design system as well as
                      contributing
                      to it.</li>
                    <li>A mastery of craft. You dream about color, typography, and interaction design every day. You are
                      proficient using tools like Figma and Adobe XD. You can efficiently use your skill set to develop
                      new
                      designs within existing and new visual systems and design languages.</li>
                    <li>A portfolio which highlights strong understanding of UX design including but not limited to:
                      user
                      flows, IA, and translating customer research, analytics, and insights into wireframes and
                      high-fidelity designs.</li>
                    <li>Possess problem-solving skills, an investigative mentality, and a proactive nature-committed to
                      delivering solutions.</li>
                    <li>Possess problem-solving skills</li>
                  </ul>
                  <h6>Qualifications:</h6>
                  <ul class="list-dot mg-bt-15">
                    <li>Bachelor's degree preferred, or equivalent experience.</li>
                    <li>At least 5-8 years of experience with UX and UI design.</li>
                    <li>2 years of experience with design thinking or similar framework that focuses on defining users'
                      needs early.</li>
                    <li>Strong portfolio showing expert concept, layout, and typographic skills, as well as creativity
                      and
                      ability to adhere to brand standards.</li>
                    <li>Expertise in Figma, Adobe Creative Cloud suite, Microsoft suite.</li>
                    <li>Ability to collaborate well with cross-disciplinary agency team and stakeholders at all levels.
                    </li>
                    <li>Forever learning: Relentless desire to learn and leverage the latest web technologies.</li>
                    <li>Detail-oriented: You must be highly organized, be able to multi-task, and meet tight deadlines.
                    </li>
                    <li>Independence: The ability to make things happen with limited direction. Excellent proactive
                      attitude, take-charge personality, and "can-do" demeanor.</li>
                    <li>Proficiency with Front-End UI technologies a bonus but not necessary (such as HTML, CSS,
                      /js).</li>
                  </ul>
                  <p>For individuals assigned and/or hired to work in Colorado or Nevada, Deloitte is required by law to
                    include a reasonable estimate of the compensation range for this role. This compensation range is
                    specific to the State of Colorado and the State of Nevada and takes into account the wide range of
                    factors that are considered in making compensation decisions including but not limited to skill
                    sets;
                    experience and training; licensure and certifications; and other business and organizational needs.
                    The
                    disclosed range estimate has not been adjusted for the applicable geographic differential associated
                    with the location at which the position may be filled. At Deloitte, it is not typical for an
                    individual
                    to be hired at or near the top of the range for their role and compensation decisions are dependent
                    on
                    the facts and circumstances of each case. A reasonable estimate of the current range is $86425-
                    $177470.
                  </p>
                  <p>You may also be eligible to participate in a discretionary annual incentive program, subject to the
                    rules governing the program, whereby an award, if any, depends on various factors, including,
                    without
                    limitation, individual and organizational performance.
                  </p>
                  <div class="post-navigation d-flex aln-center">
                    <div class="wd-social d-flex aln-center">
                      <span>Social Profiles:</span>
                      <ul class="list-social d-flex aln-center">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-pinterest"></i></a></li>
                        <li><a href="#"><i class="icon-instagram1"></i></a></li>
                        <li><a href="#"><i class="icon-youtube"></i></a></li>
                      </ul>
                    </div>
                    <a href="#" class="frag-btn"> <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15"
                        viewBox="0 0 14 15" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M0 3C0 2.20435 0.316071 1.44129 0.87868 0.87868C1.44129 0.316071 2.20435 0 3 0H13C13.1857 0 13.3678 0.0517147 13.5257 0.149349C13.6837 0.246984 13.8114 0.386681 13.8944 0.552786C13.9775 0.718892 14.0126 0.904844 13.996 1.08981C13.9793 1.27477 13.9114 1.45143 13.8 1.6L11.25 5L13.8 8.4C13.9114 8.54857 13.9793 8.72523 13.996 8.91019C14.0126 9.09516 13.9775 9.28111 13.8944 9.44721C13.8114 9.61332 13.6837 9.75302 13.5257 9.85065C13.3678 9.94829 13.1857 10 13 10H3C2.73478 10 2.48043 10.1054 2.29289 10.2929C2.10536 10.4804 2 10.7348 2 11V14C2 14.2652 1.89464 14.5196 1.70711 14.7071C1.51957 14.8946 1.26522 15 1 15C0.734784 15 0.48043 14.8946 0.292893 14.7071C0.105357 14.5196 0 14.2652 0 14V3Z"
                          fill="#64666C" />
                      </svg> Report job </a>
                  </div>
                  <div class="video-thumb">
                    <div class="content-tab2">
                      <div class="inner">
                        <div class="thumb">
                          <img src="/img/review/thumbv3.jpg" alt="/img">
                          <a href="https://www.youtube.com/watch?v=MLpWrANjFbI" class="lightbox-image">
                            <svg width="56" height="56" viewBox="0 0 56 56" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M27.5795 50.5623C40.2726 50.5623 50.5624 40.2725 50.5624 27.5794C50.5624 14.8863 40.2726 4.59656 27.5795 4.59656C14.8865 4.59656 4.59668 14.8863 4.59668 27.5794C4.59668 40.2725 14.8865 50.5623 27.5795 50.5623Z"
                                fill="#EB4D4D"></path>
                              <path
                                d="M20.9141 27.5794V24.1779C20.9141 19.7882 24.0167 18.0185 27.8089 20.2019L30.7507 21.9026L33.6925 23.6034C37.4847 25.7867 37.4847 29.3721 33.6925 31.5554L30.7507 33.2562L27.8089 34.9569C24.0167 37.1403 20.9141 35.3476 20.9141 30.9809V27.5794Z"
                                fill="white"></path>
                            </svg>
                          </a>
                        </div>
                      </div>
                    </div>
                    <ul class="thumb-menu menu-tab2">
                      <li class="ct-tab2"> <a class="lightbox-gallery" href="/img/review/thumbv4.jpg"><img
                            src="/img/review/thumbv4.jpg" alt="/img"></a> </li>
                      <li class="ct-tab2"> <a class="lightbox-gallery" href="/img/review/thumbv1.jpg"><img
                            src="/img/review/thumbv1.jpg" alt="/img"></a></li>
                      <li class="ct-tab2"><a class="lightbox-gallery" href="/img/review/thumbv2.jpg"><img
                            src="/img/review/thumbv2.jpg" alt="/img"></a></li>
                    </ul>
                  </div>
                  <div class="job-rating">
                    <h6>reviews</h6>
                    <div class="rating-review">
                      <div class="left-rating">
                        <h2>4.8</h2>
                        <ul class="list-star">
                          <li class="icon-star-full"></li>
                          <li class="icon-star-full"></li>
                          <li class="icon-star-full"></li>
                          <li class="icon-star-full"></li>
                          <li class="icon-star-full"></li>
                        </ul>
                        <p class="count-rating">(1,968 Ratings)</p>
                      </div>
                      <div class="right-rating">
                        <ul class="rating-list">
                          <li class="rating-details">
                            <span class="number-rating">5</span>
                            <div class="progress-item">
                              <div class="donat-bg" data-percent="60%">
                                <div class="custom-donat"></div>
                              </div>
                            </div>
                            <span class="percent"></span>
                          </li>
                          <li class="rating-details">
                            <span class="number-rating">4</span>
                            <div class="progress-item">
                              <div class="donat-bg" data-percent="20%">
                                <div class="custom-donat"></div>
                              </div>
                            </div>
                            <span class="percent"></span>
                          </li>
                          <li class="rating-details">
                            <span class="number-rating">3</span>
                            <div class="progress-item">
                              <div class="donat-bg" data-percent="10%">
                                <div class="custom-donat"></div>
                              </div>
                            </div>
                            <span class="percent"></span>
                          </li>
                          <li class="rating-details">
                            <span class="number-rating">2</span>
                            <div class="progress-item">
                              <div class="donat-bg" data-percent="7%">
                                <div class="custom-donat"></div>
                              </div>
                            </div>
                            <span class="percent"></span>
                          </li>
                          <li class="rating-details">
                            <span class="number-rating last">1</span>
                            <div class="progress-item">
                              <div class="donat-bg" data-percent="3%">
                                <div class="custom-donat"></div>
                              </div>
                            </div>
                            <span class="percent"></span>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- <ul class="client-review">
                      <li class="client-item">
                        <div class="content">
                          <div class="top-content">
                            <div class="avatar">
                              <div class="avt">
                                <img src="/img/review/avt.jpg" alt="/img">
                              </div>
                              <div class="infor">
                                <h5><a href="#">Dianne Russell</a><svg xmlns="http://www.w3.org/2000/svg" width="21"
                                    height="20" viewBox="0 0 21 20" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M0.5 10C0.5 4.47715 4.97715 0 10.5 0C16.0228 0 20.5 4.47715 20.5 10C20.5 15.5228 16.0228 20 10.5 20C4.97715 20 0.5 15.5228 0.5 10Z"
                                      fill="#37B853" />
                                    <path
                                      d="M8.89644 13.8429L5.64644 10.3563C5.45119 10.1468 5.45119 9.80718 5.64644 9.59769L6.35353 8.8391C6.54879 8.62961 6.86539 8.62961 7.06064 8.8391L9.25 11.1878L13.9394 6.1571C14.1346 5.94763 14.4512 5.94763 14.6465 6.1571L15.3536 6.91569C15.5488 7.12516 15.5488 7.46479 15.3536 7.67428L9.60355 13.8429C9.40828 14.0524 9.0917 14.0524 8.89644 13.8429Z"
                                      fill="white" />
                                  </svg></h5>
                                <a href="#" class="date">August 13, 2023</a>
                                <ul class="list-star">
                                  <li class="icon-star-full"></li>
                                  <li class="icon-star-full"></li>
                                  <li class="icon-star-full"></li>
                                  <li class="icon-star-full"></li>
                                  <li class="icon-star-full"></li>
                                </ul>
                                <p>Great 401K benefits- not based on a match but is 8% contribution</p>
                              </div>
                            </div>

                          </div>
                          <a href="#" class="btn-like">Was this helpful? <svg xmlns="http://www.w3.org/2000/svg"
                              width="17" height="16" viewBox="0 0 17 16" fill="none">
                              <path
                                d="M14.0625 5H9.5V2.40625C9.54167 0.802083 9.05208 0 8.03125 0C7.65625 0 7.33333 0.09375 7.0625 0.28125C6.8125 0.447917 6.65625 0.625 6.59375 0.8125L6.5 1.0625C6.45833 1.77083 6.29167 2.42708 6 3.03125C5.70833 3.61458 5.375 4.08333 5 4.4375C4.625 4.79167 4.23958 5.09375 3.84375 5.34375C3.44792 5.59375 3.125 5.77083 2.875 5.875C2.64583 5.95833 2.52083 6 2.5 6V14L3.96875 14.0625C4.65625 14.0625 5.19792 14.1354 5.59375 14.2812C6.01042 14.4062 6.33333 14.5625 6.5625 14.75C6.79167 14.9375 7.05208 15.125 7.34375 15.3125C7.65625 15.5 8.16667 15.6562 8.875 15.7812C9.60417 15.9271 10.5417 16 11.6875 16C12.3333 16 12.9167 15.9167 13.4375 15.75C13.9583 15.5833 14.3854 15.375 14.7188 15.125C15.0521 14.875 15.3333 14.5417 15.5625 14.125C15.7917 13.7083 15.9688 13.3229 16.0938 12.9688C16.2188 12.6146 16.3125 12.1667 16.375 11.625C16.4375 11.0833 16.4688 10.6458 16.4688 10.3125C16.4896 9.95833 16.5 9.52083 16.5 9C16.5 7.6875 16.25 6.69792 15.75 6.03125C15.2708 5.34375 14.7083 5 14.0625 5ZM11.6875 15C10.7083 15 9.89583 14.9479 9.25 14.8438C8.625 14.7188 8.20833 14.6042 8 14.5C7.79167 14.3958 7.55208 14.25 7.28125 14.0625C6.82292 13.7292 6.36458 13.4792 5.90625 13.3125C5.46875 13.1458 4.83333 13.0625 4 13.0625L3.5 13.0312V6.6875C3.89583 6.5 4.27083 6.28125 4.625 6.03125C5 5.76042 5.40625 5.41667 5.84375 5C6.28125 4.5625 6.64583 4.02083 6.9375 3.375C7.25 2.72917 7.4375 2.02083 7.5 1.25C7.58333 1.08333 7.76042 1 8.03125 1C8.15625 1 8.23958 1.02083 8.28125 1.0625C8.44792 1.22917 8.52083 1.67708 8.5 2.40625V5V6H9.5H14.0625C14.4375 6 14.7708 6.27083 15.0625 6.8125C15.3542 7.33333 15.5 8.0625 15.5 9C15.5 11.1042 15.2396 12.6354 14.7188 13.5938C14.2188 14.5312 13.2083 15 11.6875 15ZM0.625 14.875C0.729167 14.9583 0.854167 15 1 15C1.14583 15 1.26042 14.9583 1.34375 14.875C1.44792 14.7708 1.5 14.6458 1.5 14.5V5.53125C1.5 5.40625 1.44792 5.29167 1.34375 5.1875C1.26042 5.08333 1.14583 5.03125 1 5.03125C0.854167 5.03125 0.729167 5.08333 0.625 5.1875C0.541667 5.29167 0.5 5.40625 0.5 5.53125V14.5C0.5 14.6458 0.541667 14.7708 0.625 14.875Z"
                                fill="#6A6A6A" />
                            </svg></a>
                        </div>
                      </li>
                      <li class="client-item">
                        <div class="content">
                          <div class="top-content">
                            <div class="avatar">
                              <div class="avt">
                                <img src="/img/review/avt.jpg" alt="/img">
                              </div>

                              <div class="infor">
                                <h5><a href="#">Dianne Russell</a><svg xmlns="http://www.w3.org/2000/svg" width="21"
                                    height="20" viewBox="0 0 21 20" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M0.5 10C0.5 4.47715 4.97715 0 10.5 0C16.0228 0 20.5 4.47715 20.5 10C20.5 15.5228 16.0228 20 10.5 20C4.97715 20 0.5 15.5228 0.5 10Z"
                                      fill="#37B853" />
                                    <path
                                      d="M8.89644 13.8429L5.64644 10.3563C5.45119 10.1468 5.45119 9.80718 5.64644 9.59769L6.35353 8.8391C6.54879 8.62961 6.86539 8.62961 7.06064 8.8391L9.25 11.1878L13.9394 6.1571C14.1346 5.94763 14.4512 5.94763 14.6465 6.1571L15.3536 6.91569C15.5488 7.12516 15.5488 7.46479 15.3536 7.67428L9.60355 13.8429C9.40828 14.0524 9.0917 14.0524 8.89644 13.8429Z"
                                      fill="white" />
                                  </svg></h5>
                                <a href="#" class="date">August 13, 2023</a>
                                <ul class="list-star">
                                  <li class="icon-star-full"></li>
                                  <li class="icon-star-full"></li>
                                  <li class="icon-star-full"></li>
                                  <li class="icon-star-full"></li>
                                  <li class="icon-star-full"></li>
                                </ul>
                                <p>Great 401K benefits- not based on a match but is 8% contribution</p>
                              </div>
                            </div>

                          </div>
                          <a href="#" class="btn-like">Was this helpful? <svg xmlns="http://www.w3.org/2000/svg"
                              width="17" height="16" viewBox="0 0 17 16" fill="none">
                              <path
                                d="M14.0625 5H9.5V2.40625C9.54167 0.802083 9.05208 0 8.03125 0C7.65625 0 7.33333 0.09375 7.0625 0.28125C6.8125 0.447917 6.65625 0.625 6.59375 0.8125L6.5 1.0625C6.45833 1.77083 6.29167 2.42708 6 3.03125C5.70833 3.61458 5.375 4.08333 5 4.4375C4.625 4.79167 4.23958 5.09375 3.84375 5.34375C3.44792 5.59375 3.125 5.77083 2.875 5.875C2.64583 5.95833 2.52083 6 2.5 6V14L3.96875 14.0625C4.65625 14.0625 5.19792 14.1354 5.59375 14.2812C6.01042 14.4062 6.33333 14.5625 6.5625 14.75C6.79167 14.9375 7.05208 15.125 7.34375 15.3125C7.65625 15.5 8.16667 15.6562 8.875 15.7812C9.60417 15.9271 10.5417 16 11.6875 16C12.3333 16 12.9167 15.9167 13.4375 15.75C13.9583 15.5833 14.3854 15.375 14.7188 15.125C15.0521 14.875 15.3333 14.5417 15.5625 14.125C15.7917 13.7083 15.9688 13.3229 16.0938 12.9688C16.2188 12.6146 16.3125 12.1667 16.375 11.625C16.4375 11.0833 16.4688 10.6458 16.4688 10.3125C16.4896 9.95833 16.5 9.52083 16.5 9C16.5 7.6875 16.25 6.69792 15.75 6.03125C15.2708 5.34375 14.7083 5 14.0625 5ZM11.6875 15C10.7083 15 9.89583 14.9479 9.25 14.8438C8.625 14.7188 8.20833 14.6042 8 14.5C7.79167 14.3958 7.55208 14.25 7.28125 14.0625C6.82292 13.7292 6.36458 13.4792 5.90625 13.3125C5.46875 13.1458 4.83333 13.0625 4 13.0625L3.5 13.0312V6.6875C3.89583 6.5 4.27083 6.28125 4.625 6.03125C5 5.76042 5.40625 5.41667 5.84375 5C6.28125 4.5625 6.64583 4.02083 6.9375 3.375C7.25 2.72917 7.4375 2.02083 7.5 1.25C7.58333 1.08333 7.76042 1 8.03125 1C8.15625 1 8.23958 1.02083 8.28125 1.0625C8.44792 1.22917 8.52083 1.67708 8.5 2.40625V5V6H9.5H14.0625C14.4375 6 14.7708 6.27083 15.0625 6.8125C15.3542 7.33333 15.5 8.0625 15.5 9C15.5 11.1042 15.2396 12.6354 14.7188 13.5938C14.2188 14.5312 13.2083 15 11.6875 15ZM0.625 14.875C0.729167 14.9583 0.854167 15 1 15C1.14583 15 1.26042 14.9583 1.34375 14.875C1.44792 14.7708 1.5 14.6458 1.5 14.5V5.53125C1.5 5.40625 1.44792 5.29167 1.34375 5.1875C1.26042 5.08333 1.14583 5.03125 1 5.03125C0.854167 5.03125 0.729167 5.08333 0.625 5.1875C0.541667 5.29167 0.5 5.40625 0.5 5.53125V14.5C0.5 14.6458 0.541667 14.7708 0.625 14.875Z"
                                fill="#6A6A6A" />
                            </svg></a>
                        </div>
                      </li>
                      <li class="client-item">
                        <div class="content">
                          <div class="top-content">
                            <div class="avatar">
                              <div class="avt">
                                <img src="/img/review/avt.jpg" alt="/img">
                              </div>
                              <div class="infor">
                                <h5><a href="#">Dianne Russell</a><svg xmlns="http://www.w3.org/2000/svg" width="21"
                                    height="20" viewBox="0 0 21 20" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M0.5 10C0.5 4.47715 4.97715 0 10.5 0C16.0228 0 20.5 4.47715 20.5 10C20.5 15.5228 16.0228 20 10.5 20C4.97715 20 0.5 15.5228 0.5 10Z"
                                      fill="#37B853" />
                                    <path
                                      d="M8.89644 13.8429L5.64644 10.3563C5.45119 10.1468 5.45119 9.80718 5.64644 9.59769L6.35353 8.8391C6.54879 8.62961 6.86539 8.62961 7.06064 8.8391L9.25 11.1878L13.9394 6.1571C14.1346 5.94763 14.4512 5.94763 14.6465 6.1571L15.3536 6.91569C15.5488 7.12516 15.5488 7.46479 15.3536 7.67428L9.60355 13.8429C9.40828 14.0524 9.0917 14.0524 8.89644 13.8429Z"
                                      fill="white" />
                                  </svg></h5>
                                <a href="#" class="date">August 13, 2023</a>
                                <ul class="list-star">
                                  <li class="icon-star-full"></li>
                                  <li class="icon-star-full"></li>
                                  <li class="icon-star-full"></li>
                                  <li class="icon-star-full"></li>
                                  <li class="icon-star-full"></li>
                                </ul>
                                <p>Great 401K benefits- not based on a match but is 8% contribution</p>
                              </div>
                            </div>

                          </div>
                          <a href="#" class="btn-like">Was this helpful? <svg xmlns="http://www.w3.org/2000/svg"
                              width="17" height="16" viewBox="0 0 17 16" fill="none">
                              <path
                                d="M14.0625 5H9.5V2.40625C9.54167 0.802083 9.05208 0 8.03125 0C7.65625 0 7.33333 0.09375 7.0625 0.28125C6.8125 0.447917 6.65625 0.625 6.59375 0.8125L6.5 1.0625C6.45833 1.77083 6.29167 2.42708 6 3.03125C5.70833 3.61458 5.375 4.08333 5 4.4375C4.625 4.79167 4.23958 5.09375 3.84375 5.34375C3.44792 5.59375 3.125 5.77083 2.875 5.875C2.64583 5.95833 2.52083 6 2.5 6V14L3.96875 14.0625C4.65625 14.0625 5.19792 14.1354 5.59375 14.2812C6.01042 14.4062 6.33333 14.5625 6.5625 14.75C6.79167 14.9375 7.05208 15.125 7.34375 15.3125C7.65625 15.5 8.16667 15.6562 8.875 15.7812C9.60417 15.9271 10.5417 16 11.6875 16C12.3333 16 12.9167 15.9167 13.4375 15.75C13.9583 15.5833 14.3854 15.375 14.7188 15.125C15.0521 14.875 15.3333 14.5417 15.5625 14.125C15.7917 13.7083 15.9688 13.3229 16.0938 12.9688C16.2188 12.6146 16.3125 12.1667 16.375 11.625C16.4375 11.0833 16.4688 10.6458 16.4688 10.3125C16.4896 9.95833 16.5 9.52083 16.5 9C16.5 7.6875 16.25 6.69792 15.75 6.03125C15.2708 5.34375 14.7083 5 14.0625 5ZM11.6875 15C10.7083 15 9.89583 14.9479 9.25 14.8438C8.625 14.7188 8.20833 14.6042 8 14.5C7.79167 14.3958 7.55208 14.25 7.28125 14.0625C6.82292 13.7292 6.36458 13.4792 5.90625 13.3125C5.46875 13.1458 4.83333 13.0625 4 13.0625L3.5 13.0312V6.6875C3.89583 6.5 4.27083 6.28125 4.625 6.03125C5 5.76042 5.40625 5.41667 5.84375 5C6.28125 4.5625 6.64583 4.02083 6.9375 3.375C7.25 2.72917 7.4375 2.02083 7.5 1.25C7.58333 1.08333 7.76042 1 8.03125 1C8.15625 1 8.23958 1.02083 8.28125 1.0625C8.44792 1.22917 8.52083 1.67708 8.5 2.40625V5V6H9.5H14.0625C14.4375 6 14.7708 6.27083 15.0625 6.8125C15.3542 7.33333 15.5 8.0625 15.5 9C15.5 11.1042 15.2396 12.6354 14.7188 13.5938C14.2188 14.5312 13.2083 15 11.6875 15ZM0.625 14.875C0.729167 14.9583 0.854167 15 1 15C1.14583 15 1.26042 14.9583 1.34375 14.875C1.44792 14.7708 1.5 14.6458 1.5 14.5V5.53125C1.5 5.40625 1.44792 5.29167 1.34375 5.1875C1.26042 5.08333 1.14583 5.03125 1 5.03125C0.854167 5.03125 0.729167 5.08333 0.625 5.1875C0.541667 5.29167 0.5 5.40625 0.5 5.53125V14.5C0.5 14.6458 0.541667 14.7708 0.625 14.875Z"
                                fill="#6A6A6A" />
                            </svg></a>
                        </div>
                      </li>
                    </ul>
                    <a href="find-jobs-list.html" class="btn-load">See more reviews (719)</a> -->
                  </div>
                  <div class="related-job">
                    <h6>Related Jobs</h6>
                    <div class="features-job mg-bt-0">
                      <div class="job-archive-header">
                        <div class="inner-box">
                          <div class="logo-company">
                            <img src="/img/logo-company/cty2.png" alt="/img/logo-company/cty2.png" />
                          </div>
                          <div class="box-content">
                            <h4>
                              <a href="jobs-single.html">Tamari Law Group LLC</a>
                            </h4>
                            <h3>
                              <a href="jobs-single.html">HR Administration</a>
                              <span class="icon-bolt"></span>
                            </h3>
                            <ul>
                              <li>
                                <span class="icon-map-pin"></span>
                                Las Vegas, NV 89107, USA
                              </li>
                              <li>
                                <span class="icon-calendar"></span>
                                2 days ago
                              </li>
                            </ul>
                            <span class="icon-heart"></span>
                          </div>
                        </div>
                      </div>
                      <div class="job-archive-footer">
                        <div class="job-footer-left">
                          <ul class="job-tag">
                            <li><a href="#">Part-time</a></li>
                            <li><a href="#"> Remote</a></li>
                          </ul>
                          <div class="star">
                            <span class="icon-star-full"></span>
                            <span class="icon-star-full"></span>
                            <span class="icon-star-full"></span>
                            <span class="icon-star-full"></span>
                            <span class="icon-star-full"></span>
                          </div>
                        </div>
                        <div class="job-footer-right">
                          <div class="price">
                            <span class="icon-dolar1"></span>
                            <p>$83,000 - $110,000 <span class="year">/year</span></p>
                          </div>
                          <p class="days">24 days left to apply</p>
                        </div>
                      </div>
                    </div>
                    <div class="features-job mg-bt-0">
                      <div class="job-archive-header">
                        <div class="inner-box">
                          <div class="logo-company">
                            <img src="/img/logo-company/cty7.png" alt="/img/logo-company/cty7.png" />
                          </div>
                          <div class="box-content">
                            <h4>
                              <a href="jobs-single.html">Tamari Law Group LLC</a>
                            </h4>
                            <h3>
                              <a href="jobs-single.html">HR Administration</a>
                              <span class="icon-bolt"></span>
                            </h3>
                            <ul>
                              <li>
                                <span class="icon-map-pin"></span>
                                Las Vegas, NV 89107, USA
                              </li>
                              <li>
                                <span class="icon-calendar"></span>
                                2 days ago
                              </li>
                            </ul>
                            <span class="icon-heart"></span>
                          </div>
                        </div>
                      </div>
                      <div class="job-archive-footer">
                        <div class="job-footer-left">
                          <ul class="job-tag">
                            <li><a href="#">Part-time</a></li>
                            <li><a href="#"> Remote</a></li>
                          </ul>
                          <div class="star">
                            <span class="icon-star-full"></span>
                            <span class="icon-star-full"></span>
                            <span class="icon-star-full"></span>
                            <span class="icon-star-full"></span>
                            <span class="icon-star-full"></span>
                          </div>
                        </div>
                        <div class="job-footer-right">
                          <div class="price">
                            <span class="icon-dolar1"></span>
                            <p>$83,000 - $110,000 <span class="year">/year</span></p>
                          </div>
                          <p class="days">24 days left to apply</p>
                        </div>
                      </div>
                    </div>
                    <div class="features-job mg-bt-0">
                      <div class="job-archive-header">
                        <div class="inner-box">
                          <div class="logo-company">
                            <img src="/img/logo-company/cty8.png" alt="/img/logo-company/cty8.png" />
                          </div>
                          <div class="box-content">
                            <h4>
                              <a href="jobs-single.html">Tamari Law Group LLC</a>
                            </h4>
                            <h3>
                              <a href="jobs-single.html">HR Administration</a>
                              <span class="icon-bolt"></span>
                            </h3>
                            <ul>
                              <li>
                                <span class="icon-map-pin"></span>
                                Las Vegas, NV 89107, USA
                              </li>
                              <li>
                                <span class="icon-calendar"></span>
                                2 days ago
                              </li>
                            </ul>
                            <span class="icon-heart"></span>
                          </div>
                        </div>
                      </div>
                      <div class="job-archive-footer">
                        <div class="job-footer-left">
                          <ul class="job-tag">
                            <li><a href="#">Part-time</a></li>
                            <li><a href="#"> Remote</a></li>
                          </ul>
                          <div class="star">
                            <span class="icon-star-full"></span>
                            <span class="icon-star-full"></span>
                            <span class="icon-star-full"></span>
                            <span class="icon-star-full"></span>
                            <span class="icon-star-full"></span>
                          </div>
                        </div>
                        <div class="job-footer-right">
                          <div class="price">
                            <span class="icon-dolar1"></span>
                            <p>$83,000 - $110,000 <span class="year">/year</span></p>
                          </div>
                          <p class="days">24 days left to apply</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>


            </div>

          </div>

        </div>
      </div>
    </section>






    <%- include('../partical/footer.ejs') %>
</div>


  <script src="/js/jquery.min.js"></script>
  <script src="/js/swiper-bundle.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/boostrap-select.min.js"></script>
  <script src="/js/plugin.min.js"></script>
  <script src='/js/wow.min.js'></script>
  <script src='/js/swiper.js'></script>
  <script src='/js/jquery.nice-select.min.js'></script>
  <script src="/js/jquery.fancybox.js"></script>
  <script src="/js/jquery.cookie.js"></script>
  <script src="/js/switcher.js"></script>
  <script src="/js/main.js"></script>

</body>


<!-- Mirrored from themesflat.co/html/jobtex/Home-02.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 May 2024 18:44:28 GMT -->
</html>