<%- include('../partical/header.ejs') %>
<style>
  .detailpp{
   
    max-height: 100px;
    width: auto;
   
  }
</style>
  <a id="scroll-top" ></a>

   <!-- Boxed -->
   <div class="boxed"> 
  



  <section class="form-sticky fixed-space">
    <div class="tf-container">
      <div class="row">
        <div id="detailTop" class="col-lg-12">
 
        </div>
      </div>
    </div>
  </section>

  <section class="inner-jobs-section">
    <div class="tf-container">
      <div class="row">





        <div class="col-lg-8">
          <article class="job-article tf-tab single-job">
            <div class="content-tab">
              <div class="inner-content">
                <h5>Full Job Description</h5>
                <p id="requirements">
                </p>
       
                <h6>What you'll bring:</h6>
                <ul id="obligations" class="list-dot mg-bt-15">
                
                </ul>
             
                <div class="post-navigation d-flex aln-center">
                  <div class="wd-social d-flex aln-center">
                    <span>Social Profiles:</span>
                    <ul id="socialUl" class="list-social d-flex aln-center">
                 
                    </ul>
                  </div>
                  <a href="#" class="frag-btn"> <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15"
                      viewBox="0 0 14 15" fill="none">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M0 3C0 2.20435 0.316071 1.44129 0.87868 0.87868C1.44129 0.316071 2.20435 0 3 0H13C13.1857 0 13.3678 0.0517147 13.5257 0.149349C13.6837 0.246984 13.8114 0.386681 13.8944 0.552786C13.9775 0.718892 14.0126 0.904844 13.996 1.08981C13.9793 1.27477 13.9114 1.45143 13.8 1.6L11.25 5L13.8 8.4C13.9114 8.54857 13.9793 8.72523 13.996 8.91019C14.0126 9.09516 13.9775 9.28111 13.8944 9.44721C13.8114 9.61332 13.6837 9.75302 13.5257 9.85065C13.3678 9.94829 13.1857 10 13 10H3C2.73478 10 2.48043 10.1054 2.29289 10.2929C2.10536 10.4804 2 10.7348 2 11V14C2 14.2652 1.89464 14.5196 1.70711 14.7071C1.51957 14.8946 1.26522 15 1 15C0.734784 15 0.48043 14.8946 0.292893 14.7071C0.105357 14.5196 0 14.2652 0 14V3Z"
                        fill="#64666C" />
                    </svg> Report job </a>
                </div>
                <div class="video-thumb">
                  <div class="content-tab2">
                    <div class="inner">
                      <div class="thumb">
                        <img src="/img/review/thumbv3.jpg" alt="/img">
                        <a id="videoURL" href="https://www.youtube.com/watch?v=MLpWrANjFbI" class="lightbox-image">
                          <svg width="56" height="56" viewBox="0 0 56 56" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M27.5795 50.5623C40.2726 50.5623 50.5624 40.2725 50.5624 27.5794C50.5624 14.8863 40.2726 4.59656 27.5795 4.59656C14.8865 4.59656 4.59668 14.8863 4.59668 27.5794C4.59668 40.2725 14.8865 50.5623 27.5795 50.5623Z"
                              fill="#EB4D4D"></path>
                            <path
                              d="M20.9141 27.5794V24.1779C20.9141 19.7882 24.0167 18.0185 27.8089 20.2019L30.7507 21.9026L33.6925 23.6034C37.4847 25.7867 37.4847 29.3721 33.6925 31.5554L30.7507 33.2562L27.8089 34.9569C24.0167 37.1403 20.9141 35.3476 20.9141 30.9809V27.5794Z"
                              fill="white"></path>
                          </svg>
                        </a>
                      </div>
                    </div>
                  </div>
                  <ul id="photosDetail" class="thumb-menu menu-tab2">
                 
                 
                  </ul>
                </div>

           
              </div>
    
            </div>
          </article>
        </div>





        <div class="col-lg-4">
          <div class="cv-form-details po-sticky job-sg">
            <div class="map-content">
      
              <iframe id="maps" class="map-box"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7302.453092836291!2d90.47477022812872!3d23.77494577893369!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1627293157601!5m2!1svi!2s"
                    allowfullscreen="" loading="lazy"></iframe>
              
          </div>
            <ul id="detailUl" class="list-infor">
              
            </ul>
            
          
  
          </div>
        </div>





      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="top-footer">
        <div class="tf-container">
            <div class="row">
                <div class="col-lg-2 col-md-4">
                    <div class="footer-logo">
                        <img src="/img/logo.png" alt="/img">
                    </div>
                </div>
                <div class="col-lg-10 col-md-8">
                    <div class="wd-social d-flex aln-center">
                        <span>Follow Us:</span>
                        <ul class="list-social d-flex aln-center">
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-pinterest"></i></a></li>
                            <li><a href="#"><i class="icon-instagram1"></i></a></li>
                            <li><a href="#"><i class="icon-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inner-footer">
        <div class="tf-container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-cl-1">
                        <div class="icon-infor d-flex aln-center">
                            <div class="icon">
                                <span class="icon-call-calling"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
                            </div>
                            <div class="content">
                                <p>Need help? 24/7</p>
                                <h6><a href="tel:0123456678">001-1234-88888</a></h6>
                            </div>
                        </div>
                        <p>Job Searching Just Got Easy. Use Jobtex to run a hiring site and earn money in the process!</p>
                        <div class="ft-icon"> <i class="icon-map-pin"></i> 101 E 129th St, East Chicago, IN 46312, US</div>
                        <form action="#" id="subscribe-form">
                            <input type="email" placeholder="Your email address" required="" id="subscribe-email">
                            <button class="tf-button" type="submit" id="subscribe-button"><i class="icon-paper-plane-o"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-6">
                    <div class="footer-cl-2">
                        <h6 class="ft-title">
                            Quick Links
                        </h6>
                        <ul class="navigation-menu-footer">
                            <li> <a href="find-jobs-list.html">Job Packages</a> </li>
                            <li> <a href="find-jobs-list.html">Post New Job</a> </li>
                            <li> <a href="find-jobs-list.html">Jobs Listing</a> </li>
                            <li> <a href="find-jobs-list.html">Jobs Style Grid</a> </li>
                            <li> <a href="employers-list.html">Employer Listing</a> </li>
                            <li> <a href="employers-grid-fullwidth.html">Employers Grid</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="footer-cl-3">
                        <h6 class="ft-title">
                            For Candidates
                        </h6>
                        <ul class="navigation-menu-footer">
                            <li> <a href="dashboard.html">User Dashboard</a> </li>
                            <li> <a href="sample-cv.html">CV Packages</a> </li>
                            <li> <a href="candidate-list-sidebar.html">Candidate Listing</a> </li>
                            <li> <a href="candidate-grid.html">Candidates Grid</a> </li>
                            <li> <a href="about-us.html">About us</a> </li>
                            <li> <a href="contact-us.html">Contact us </a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="footer-cl-4">
                        <h6 class="ft-title">
                            For Employers
                        </h6>
                        <ul class="navigation-menu-footer">
                            <li> <a href="find-jobs-list.html">Post New Job</a> </li>
                            <li> <a href="employers-list.html">Employer Listing</a> </li>
                            <li> <a href="employers-grid-sidebar.html">Employers Grid</a> </li>
                            <li> <a href="find-jobs-list.html">Job Packages</a> </li>
                            <li> <a href="find-jobs-list.html">Jobs Listing</a> </li>
                            <li> <a href="find-jobs-grid.html">Jobs Style Grid</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="footer-cl-5">
                        <h6 class="ft-title">
                            Download App
                        </h6>
                        <ul class="ft-download">
                            <li> <a href="#"><img src="/img/review/btn3.png" alt="/img"></a></li>
                            <li> <a href="#"><img src="/img/review/btn4.png" alt="/img"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="tf-container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="bt-left">
                        <div class="copyright">©2023 Themesflat. All Rights Reserved.</div>
                        <span class="select-language">
                          <select class="image-select">
                            <option data-thumbnail="/img/review/flag.png">English</option>
                            <option data-thumbnail="/img/review/flag3.png">USA</option>
                            <option data-thumbnail="/img/review/flag2.png">VN</option>
                          </select>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul class="menu-bottom d-flex aln-center">
                        <li><a href="term-of-use.html">Terms Of Services</a> </li>
                        <li><a href="pricing.html">Privacy Policy</a> </li>
                        <li><a href="contact-us.html">Cookie Policy</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </footer>
  
  </div><!-- /.boxed --> 



<script src="/js/jquery.min.js"></script>
<script src="/js/swiper-bundle.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/boostrap-select.min.js"></script>
<script src="/js/jquery.fancybox.js"></script>
<script src="/js/plugin.min.js"></script>
<script src='/js/wow.min.js'></script>
<script src='/js/swiper.js'></script>
<script src='/js/jquery.nice-select.min.js'></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/switcher.js"></script>
<script src="/js/main.js"></script>
<script src="/js/hyjobdeetail.js"></script>
</body>

<!-- Mirrored from themesflat.co/html/jobtex/jobs-single.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 May 2024 18:44:48 GMT -->
</html>