
<%- include('../partical/header.ejs') %>
  <!-- END HEADER -->



  <section class="account-section">
    <div class="tf-container">
      <div class="row">
        <div class="wd-form-login">
          <h4>Log In</h4>
          <div class="nofi-form ">
            <p id="loginWarning" style="color: rgb(80, 0, 0); font-size: 17px;"></p>
            
          </div>


          <form action="https://themesflat.co/html/jobtex/home-01.html">
            <div class="ip">
              <label>Email address<span>*</span></label>
              <input type="text" id="loginUsername"  placeholder="E-Mail">
            </div>
            <div class="ip">
              <label>Password<span>*</span></label>
              <div class="inputs-group auth-pass-inputgroup">
                <input type="password"  class="input-form password-input" placeholder="Password" id="loginPassword"
                  required="">
                <a class="icon-eye-off password-addon" id="password-addon"></a>
              </div>
            </div>
            <div class="group-ant-choice">
              <div class="sub-ip"><input type="checkbox">Remember me</div>
              <a href="#" class="forgot">Fogot password?</a>
            </div>
            <p class="line-ip"><span>or sign up with</span></p>
            <!-- <a href="#" class="btn-social">Continue with Facebook</a> -->
            <a href="/signin/google/?employer=0" class="btn-social"> <img src="/img/review/google.png" alt="/img"> Continue with Google</a>
            <!-- <a href="#" class="btn-social"> <img src="/img/review/tweet.png" alt="/img"> Continue with Twitter</a> -->
            <button id="loginButton" type="button">Login</button>
            <div class="sign-up">Not registered yet? <a href="/signin/">Sign Up</a></div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <%- include('../partical/footer.ejs') %>
  </div><!-- /.boxed --> 




  <script src="/js/hylogin.js"></script>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/swiper-bundle.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/boostrap-select.min.js"></script>
  <script src="/js/jquery.fancybox.js"></script>
  <script src="/js/plugin.min.js"></script>
  <script src='/js/wow.min.js'></script>
  <script src="/js/password-addon.js"></script>
  <script src='/js/swiper.js'></script>
  <script src='/js/jquery.nice-select.min.js'></script>
  <script src="/js/jquery.cookie.js"></script>
  <script src="/js/switcher.js"></script>
  <script src="/js/main.js"></script>
</body>


<!-- Mirrored from themesflat.co/html/jobtex/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 May 2024 18:45:22 GMT -->
</html>