
  <%- include('../partical/header.ejs') %>
  <!-- END HEADER -->

  <section class="bg-f5">
    <div class="tf-container">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-title">
            <div class="widget-menu-link">
              <ul>
                <li><a href="home-01.html">Home</a></li>
                <li><a href="#">Term Of Use</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="term-section">
    <div class="tf-container">
      <div class="row tf-tab">
        <div class="col-lg-4">
          <ul class="menu-tab tab-term po-sticky">
            <li class="ct-tab">1. Terms </li>
            <li class="ct-tab active">2. Limitations </li>
            <li class="ct-tab">3. Revisions and errata</li>
            <li class="ct-tab">4. Site terms of use modifications</li>
            <li class="ct-tab">5. Risks</li>
          </ul>
        </div>
        <div class="col-lg-8">
          <div class="content-tab">
            <div class="term-content">
              <h4>Terms of use</h4>
              <h6>1. Terms </h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed euismod justo, sit amet efficitur
                dui. Aliquam sodales vestibulum velit, eget sollicitudin quam. Donec non aliquam eros. Etiam sit amet
                lectus vel justo dignissim condimentum.</p>
              <p>In malesuada neque quis libero laoreet posuere. In consequat vitae ligula quis rutrum. Morbi dolor
                orci, maximus a pulvinar sed, bibendum ac lacus. Suspendisse in consectetur lorem. Pellentesque habitant
                morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam elementum, est sed
                interdum cursus, felis ex pharetra nisi, ut elementum tortor urna eu nulla. Donec rhoncus in purus quis
                blandit.</p>
              <p class="mgb-32">Etiam eleifend metus at nunc ultricies facilisis. Morbi finibus tristique interdum.
                Nullam vel eleifend est, eu posuere risus. Vestibulum ligula ex, ullamcorper sit amet molestie</p>
              <h6>2. Limitations</h6>
              <p>Etiam eleifend metus at nunc ultricies facilisis. Morbi finibus tristique interdum. Nullam vel eleifend
                est, eu posuere risus. Vestibulum ligula ex, ullamcorper sit amet molestie a, finibus nec ex.</p>
              <ul class="list-dot">
                <li> Aliquam elementum, est sed interdum cursus, felis ex pharetra nisi, ut elementum tortor urna eu
                  nulla. Donec rhoncus in purus quis blandit.</li>
                <li> Etiam eleifend metus at nunc ultricies facilisis.</li>
                <li> Nullam vel eleifend est, eu posuere risus. Vestibulum ligula ex, ullamcorper sit amet molestie a,
                  finibus nec ex.</li>
              </ul>
              <p class="mgb-32">Etiam eleifend metus at nunc ultricies facilisis. Morbi finibus tristique interdum.
                Nullam vel eleifend est, eu posuere risus. Vestibulum ligula ex, ullamcorper sit amet molestie</p>
              <h6>3. Revisions and errata</h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed euismod justo, sit amet efficitur
                dui. Aliquam sodales vestibulum velit, eget sollicitudin quam. Donec non aliquam eros. Etiam sit amet
                lectus vel justo dignissim condimentum.</p>
              <p>In malesuada neque quis libero laoreet posuere. In consequat vitae ligula quis rutrum. Morbi dolor
                orci, maximus a pulvinar sed, bibendum ac lacus. Suspendisse in consectetur lorem. Pellentesque habitant
                morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam elementum, est sed
                interdum cursus, felis ex pharetra nisi, ut elementum tortor urna eu nulla. Donec rhoncus in purus quis
              </p>
              <p class="mgb-32">Etiam eleifend metus at nunc ultricies facilisis. Morbi finibus tristique interdum.
                Nullam vel eleifend est, eu posuere risus. Vestibulum ligula ex, ullamcorper sit amet molestie a,
                finibus nec ex.</p>
              <h6>4. Site terms of use modifications</h6>
              <p>Etiam eleifend metus at nunc ultricies facilisis. Morbi finibus tristique interdum. Nullam vel eleifend
                est, eu posuere risus. Vestibulum ligula ex, ullamcorper sit amet molestie a, finibus nec ex.</p>
              <ul class="list-dot">
                <li> Aliquam elementum, est sed interdum cursus, felis ex pharetra nisi, ut elementum tortor urna eu
                  nulla. Donec rhoncus in purus quis blandit.</li>
                <li> Etiam eleifend metus at nunc ultricies facilisis.</li>
                <li> Nullam vel eleifend est, eu posuere risus. Vestibulum ligula ex, ullamcorper sit amet molestie a,
                  finibus nec ex.</li>
              </ul>
              <p class="mgb-32">Etiam eleifend metus at nunc ultricies facilisis. Morbi finibus tristique interdum.
                Nullam vel eleifend est, eu posuere risus. Vestibulum ligula ex, ullamcorper sit amet molestie</p>
              <h6>5. Risks</h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed euismod justo, sit amet efficitur
                dui. Aliquam sodales vestibulum velit, eget sollicitudin quam. Donec non aliquam eros. Etiam sit amet
                lectus vel justo dignissim condimentum.</p>
              <p>In malesuada neque quis libero laoreet posuere. In consequat vitae ligula quis rutrum. Morbi dolor
                orci, maximus a pulvinar sed, bibendum ac lacus. Suspendisse in consectetur lorem. Pellentesque habitant
                morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam elementum, est sed
                interdum cursus, felis ex pharetra nisi, ut elementum tortor urna eu nulla. Donec rhoncus in purus quis
                blandit.</p>
              <p>Etiam eleifend metus at nunc ultricies facilisis. Morbi finibus tristique interdum. Nullam vel eleifend
                est, eu posuere risus. Vestibulum ligula ex, ullamcorper sit amet molestie </p>
            </div>
            <div class="term-content">
              <h6>2. Limitations</h6>
              <p>Etiam eleifend metus at nunc ultricies facilisis. Morbi finibus tristique interdum. Nullam vel eleifend
                est, eu posuere risus. Vestibulum ligula ex, ullamcorper sit amet molestie a, finibus nec ex.</p>
              <ul class="list-dot">
                <li> Aliquam elementum, est sed interdum cursus, felis ex pharetra nisi, ut elementum tortor urna eu
                  nulla. Donec rhoncus in purus quis blandit.</li>
                <li> Etiam eleifend metus at nunc ultricies facilisis.</li>
                <li> Nullam vel eleifend est, eu posuere risus. Vestibulum ligula ex, ullamcorper sit amet molestie a,
                  finibus nec ex.</li>
              </ul>
              <p>Etiam eleifend metus at nunc ultricies facilisis. Morbi finibus tristique interdum. Nullam vel eleifend
                est, eu posuere risus. Vestibulum ligula ex, ullamcorper sit amet molestie</p>
            </div>
            <div class="term-content">
              <h6>3. Revisions and errata</h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed euismod justo, sit amet efficitur
                dui. Aliquam sodales vestibulum velit, eget sollicitudin quam. Donec non aliquam eros. Etiam sit amet
                lectus vel justo dignissim condimentum.</p>
              <p>In malesuada neque quis libero laoreet posuere. In consequat vitae ligula quis rutrum. Morbi dolor
                orci, maximus a pulvinar sed, bibendum ac lacus. Suspendisse in consectetur lorem. Pellentesque habitant
                morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam elementum, est sed
                interdum cursus, felis ex pharetra nisi, ut elementum tortor urna eu nulla. Donec rhoncus in purus quis
              </p>
              <p>Etiam eleifend metus at nunc ultricies facilisis. Morbi finibus tristique interdum. Nullam vel eleifend
                est, eu posuere risus. Vestibulum ligula ex, ullamcorper sit amet molestie a, finibus nec ex.</p>
            </div>
            <div class="term-content">
              <h6>4. Site terms of use modifications</h6>
              <p>Etiam eleifend metus at nunc ultricies facilisis. Morbi finibus tristique interdum. Nullam vel eleifend
                est, eu posuere risus. Vestibulum ligula ex, ullamcorper sit amet molestie a, finibus nec ex.</p>
              <ul class="list-dot">
                <li> Aliquam elementum, est sed interdum cursus, felis ex pharetra nisi, ut elementum tortor urna eu
                  nulla. Donec rhoncus in purus quis blandit.</li>
                <li> Etiam eleifend metus at nunc ultricies facilisis.</li>
                <li> Nullam vel eleifend est, eu posuere risus. Vestibulum ligula ex, ullamcorper sit amet molestie a,
                  finibus nec ex.</li>
              </ul>
              <p>Etiam eleifend metus at nunc ultricies facilisis. Morbi finibus tristique interdum. Nullam vel eleifend
                est, eu posuere risus. Vestibulum ligula ex, ullamcorper sit amet molestie</p>
            </div>
            <div class="term-content">
              <h6>5. Risks</h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed euismod justo, sit amet efficitur
                dui. Aliquam sodales vestibulum velit, eget sollicitudin quam. Donec non aliquam eros. Etiam sit amet
                lectus vel justo dignissim condimentum.</p>
              <p>In malesuada neque quis libero laoreet posuere. In consequat vitae ligula quis rutrum. Morbi dolor
                orci, maximus a pulvinar sed, bibendum ac lacus. Suspendisse in consectetur lorem. Pellentesque habitant
                morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam elementum, est sed
                interdum cursus, felis ex pharetra nisi, ut elementum tortor urna eu nulla. Donec rhoncus in purus quis
                blandit.</p>
              <p>Etiam eleifend metus at nunc ultricies facilisis. Morbi finibus tristique interdum. Nullam vel eleifend
                est, eu posuere risus. Vestibulum ligula ex, ullamcorper sit amet molestie </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <%- include('../partical/footer.ejs') %>
  </div><!-- /.boxed --> 

  <script src="/js/jquery.min.js"></script>
  <script src="/js/swiper-bundle.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/boostrap-select.min.js"></script>
  <script src="/js/jquery.fancybox.js"></script>
  <script src="/js/plugin.min.js"></script>
  <script src='/js/wow.min.js'></script>
  <script src='/js/swiper.js'></script>
  <script src='/js/jquery.nice-select.min.js'></script>
  <script src="/js/jquery.cookie.js"></script>
  <script src="/js/switcher.js"></script>
  <script src="/js/main.js"></script>
</body>


<!-- Mirrored from themesflat.co/html/jobtex/term-of-use.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 May 2024 18:45:17 GMT -->
</html>