<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->


<!-- Mirrored from themesflat.co/html/jobtex/Home-02.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 May 2024 18:44:22 GMT -->
<head>
  <!-- Basic Page Needs -->
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <title>Home 02 - Jobtex TF</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Font -->
  <link rel="stylesheet" href="/font/fonts.css">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/boostrap-select.min.css" />


  <!-- swiper slider -->
  <link rel="stylesheet" href="/css/swiper-bundle.min.css" />

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Theme Style -->
  <link rel="stylesheet" type="text/css" href="/css/shortcodes.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.min.css">

  <!-- Favicon and Touch Icons  -->
  <link rel="shortcut icon" href="/img/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/img/favicon.png">

  <!-- Colors -->
  <link rel="stylesheet" type="text/css" href="/css/colors/color1.css" id="colors">

  <!-- Responsive -->
  <link rel="stylesheet" type="text/css" href="/css/responsive.css">
  <link rel="stylesheet" type="text/css" href="/css/hymain.css">
  <link rel="stylesheet" type="text/css" href="/css/hyemployerprofil.css">

  

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>





<body>
  <a id="scroll-top"></a>

  <!-- preloade -->
  <div class="preload preload-container">
    <div class="preload-logo">
      <div class="spinner"></div>
    </div>
  </div>
  <!-- /preload -->

  <!-- popup apply job -->
  <div class="wd-popup-job-apply">
    <div class="modal-menu__backdrop"></div>
    <div class="content">
      <h6>Apply For This Job</h6>
      <form action="https://themesflat.co/html/jobtex/get">
        <label class="label-text">Email<span>*</span></label>
        <input type="text" placeholder="Email" required>
        <div class="group-radio">
          <input type="radio"><label>You accept our <a href="#">Terms</a> and <a href="#">Conditions</a> and <a
              href="#">Privacy Policy</a> </label>
        </div>
        <button>Login</button>
      </form>
    </div>
  </div>
  <!-- end -->
  <!-- popup nav menu-mobile-->
  <div class="menu-mobile-popup">
    <div class="modal-menu__backdrop"></div>
    <div class="widget-filter">


      <div class="mobile-header">
        <div id="logo" class="logo">
          <a href="/">
            <img class="site-logo" src="/img/logo.png" alt="Image" />
          </a>
        </div>
        <a class="title-button-group"><i class="icon-close"></i></a>

      </div>

      <div class="tf-tab">
        <div class="menu-tab">
          <div class="user-tag active">Menu</div>
          <div class="user-tag">Categories</div>
        </div>

        <div class="content-tab">

          <div class="header-ct-center menu-moblie">
            <div class="nav-wrap">
              <nav class="main-nav mobile">
                <ul id="menu-primary-menu" class="menu">
                  <li class="menu-item  current-item">
                    <a href="/home/" class="iteam-menu">Home</a>
                  </li>

                  <li class="menu-item ">
                    <a href="/findjob/" class="iteam-menu">Find jobs </a>
             
                  </li>

                  <li class="menu-item ">
                    <a href="/employers/" class="iteam-menu">Employers</a>
                  </li>
                  <li class="menu-item ">
                    <a href="/findcandidates/" class="iteam-menu">Candidates</a>
                
                  </li>
                  <li class="menu-item ">
                    <a href="/blog/" class="iteam-menu">Blog</a>
               
                  </li>
                  <li class="menu-item menu-item-has-children-mobile">
                    <a class="iteam-menu">Pages</a>
                    <ul class="sub-menu-mobile">
                      <li class="menu-item menu-item-mobile">
                        <a href="/about/">About Us</a>
                      </li>
                      <li class="menu-item menu-item-mobile">
                        <a href="/faqs/">FAQS</a>
                      </li>
                      <li class="menu-item menu-item-mobile">
                        <a href="/termofuse/">Terms Of Use</a>
                      </li>
                     
                     
                    
                     
                      <li class="menu-item menu-item-mobile">
                        <a href="/contact/">Contact Us</a>
                      </li>
                   
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="categories">
            <div class="sub-categorie-mobile">
              <ul class="pop-up">
                <li class="categories-mobile">
                  <a href="#"><span class="icon-categorie-1"></span>Design & Creative</a>
                  <div class="group-menu-category-mobile">
                    <div class="menu left">
                      <ul>
                        <li><a href="find-jobs-list.html">Design & Creative</a></li>
                        <li><a href="find-jobs-list.html">Digital marketing</a></li>
                        <li><a href="find-jobs-list.html">Development & IT</a></li>
                        <li><a href="find-jobs-list.html">Music & Audio</a></li>
                        <li><a href="find-jobs-list.html">Finance & Accounting</a></li>
                        <li><a href="find-jobs-list.html">Programming & Tech</a></li>
                        <li><a href="find-jobs-list.html">video & Animation</a></li>
                      </ul>
                    </div>
                    <div class="menu right">
                      <ul>
                        <li><a href="jobs-single.html">Adobe Photoshop</a></li>
                        <li><a href="jobs-single.html">adobe XD</a></li>
                        <li><a href="jobs-single.html">Android Developer</a></li>
                        <li><a href="jobs-single.html">Figma</a></li>
                        <li><a href="jobs-single.html">CSS, Html</a></li>
                        <li><a href="jobs-single.html">BA</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="categories-mobile">
                  <a href="#"><span class="icon-categorie-8"></span>Digital Marketing</a>
                  <div class="group-menu-category-mobile">
                    <div class="menu left">
                      <ul>
                        <li><a href="find-jobs-list.html">Digital marketing</a></li>
                        <li><a href="find-jobs-list.html">Design & Creative</a></li>
                        <li><a href="find-jobs-list.html">Finance & Accounting</a></li>
                        <li><a href="find-jobs-list.html">Development & IT</a></li>
                        <li><a href="find-jobs-list.html">Programming & Tech</a></li>
                      </ul>
                    </div>
                    <div class="menu right">
                      <ul>
                        <li><a href="jobs-single.html">adobe XD</a></li>
                        <li><a href="jobs-single.html">Figma</a></li>
                        <li><a href="jobs-single.html">BA</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="categories-mobile">
                  <a href="#"><span class="icon-categorie-2"></span>Development & IT</a>
                  <div class="group-menu-category-mobile">
                    <div class="menu left">
                      <ul>
                        <li><a href="find-jobs-list.html">Design & Creative</a></li>
                        <li><a href="find-jobs-list.html">Development & IT</a></li>
                        <li><a href="find-jobs-list.html">Music & Audio</a></li>
                        <li><a href="find-jobs-list.html">video & Animation</a></li>
                        <li><a href="find-jobs-list.html">Finance & Accounting</a></li>
                      </ul>
                    </div>
                    <div class="menu right">
                      <ul>
                        <li><a href="jobs-single.html">adobe XD</a></li>
                        <li><a href="jobs-single.html">Android Developer</a></li>
                        <li><a href="jobs-single.html">Adobe Photoshop</a></li>
                        <li><a href="jobs-single.html">CSS, Html</a></li>
                        <li><a href="jobs-single.html">BA</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="categories-mobile">
                  <a href="#"><span class="icon-categorie-3"></span>Music & Audio</a>
                  <div class="group-menu-category-mobile">
                    <div class="menu left">
                      <ul>
                        <li><a href="find-jobs-list.html">Digital marketing</a></li>
                        <li><a href="find-jobs-list.html">Design & Creative</a></li>
                        <li><a href="find-jobs-list.html">video & Animation</a></li>
                      </ul>
                    </div>
                    <div class="menu right">
                      <ul>
                        <li><a href="jobs-single.html">Android Developer</a></li>
                        <li><a href="jobs-single.html">Adobe Photoshop</a></li>
                        <li><a href="jobs-single.html">adobe XD</a></li>
                        <li><a href="jobs-single.html">Figma</a></li>
                        <li><a href="jobs-single.html">BA</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="categories-mobile">
                  <a href="#"><span class="icon-categorie-4"></span>Finance &
                    Accounting</a>
                  <div class="group-menu-category-mobile">
                    <div class="menu left">
                      <ul>
                        <li><a href="find-jobs-list.html">Development & IT</a></li>
                        <li><a href="find-jobs-list.html">Design & Creative</a></li>
                        <li><a href="find-jobs-list.html">Programming & Tech</a></li>
                        <li><a href="find-jobs-list.html">Music & Audio</a></li>
                        <li><a href="find-jobs-list.html">Finance & Accounting</a></li>
                        <li><a href="find-jobs-list.html">video & Animation</a></li>
                      </ul>
                    </div>
                    <div class="menu right">
                      <ul>
                        <li><a href="jobs-single.html">adobe XD</a></li>
                        <li><a href="jobs-single.html">Figma</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="categories-mobile">
                  <a href="#"><span class="icon-categorie-5"></span>Programming & Tech</a>
                  <div class="group-menu-category-mobile">
                    <div class="menu left">
                      <ul>
                        <li><a href="find-jobs-list.html">Design & Creative</a></li>
                        <li><a href="find-jobs-list.html">Digital marketing</a></li>
                        <li><a href="find-jobs-list.html">Music & Audio</a></li>
                        <li><a href="find-jobs-list.html">Finance & Accounting</a></li>
                        <li><a href="find-jobs-list.html">Programming & Tech</a></li>
                        <li><a href="find-jobs-list.html">video & Animation</a></li>
                      </ul>
                    </div>
                    <div class="menu right">
                      <ul>
                        <li><a href="jobs-single.html">Adobe Photoshop</a></li>
                        <li><a href="jobs-single.html">adobe XD</a></li>
                        <li><a href="jobs-single.html">Figma</a></li>
                        <li><a href="jobs-single.html">CSS, Html</a></li>
                        <li><a href="jobs-single.html">BA</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="categories-mobile">
                  <a href="#"><span class="icon-categorie-6"></span>Video & Animation</a>
                  <div class="group-menu-category-mobile">
                    <div class="menu left">
                      <ul>
                        <li><a href="find-jobs-list.html">Design & Creative</a></li>
                        <li><a href="find-jobs-list.html">Digital marketing</a></li>
                        <li><a href="find-jobs-list.html">Programming & Tech</a></li>
                        <li><a href="find-jobs-list.html">video & Animation</a></li>
                      </ul>
                    </div>
                    <div class="menu right">
                      <ul>
                        <li><a href="jobs-single.html">Adobe Photoshop</a></li>
                        <li><a href="jobs-single.html">CSS, Html</a></li>
                        <li><a href="jobs-single.html">BA</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="categories-mobile">
                  <a href="#"><span class="icon-categorie-7"></span>Writing &
                    translation</a>
                  <div class="group-menu-category-mobile">
                    <div class="menu left">
                      <ul>
                        <li><a href="find-jobs-list.html">Finance & Accounting</a></li>
                        <li><a href="find-jobs-list.html">Programming & Tech</a></li>
                        <li><a href="find-jobs-list.html">video & Animation</a></li>
                      </ul>
                    </div>
                    <div class="menu right">
                      <ul>
                        <li><a href="jobs-single.html">Figma</a></li>
                        <li><a href="jobs-single.html">CSS, Html</a></li>
                        <li><a href="jobs-single.html">BA</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>

          </div>


        </div>

      </div>

      <% if (!login) { %>
        <div class="header-customize-item button">
          <a href="/login/">Login</a>
        </div>
    <% } else { %>
      <div class="header-customize-item button">
        <a href="/logout">Log Out</a>
      </div>

      <% }  %>

  

   

      <div class="mobile-footer">
        <div class="icon-infor d-flex aln-center">
          <div class="icon">
            <span class="icon-call-calling"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span></span>
          </div>
          <div class="content">
            <p>Need help? 24/7</p>
            <h6><a href="tel:0123456678">001-1234-88888</a></h6>
          </div>
        </div>
        <div class="wd-social d-flex aln-center">
          <ul class="list-social d-flex aln-center">
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-linkedin2"></i></a></li>
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-pinterest"></i></a></li>
            <li><a href="#"><i class="icon-instagram1"></i></a></li>
            <li><a href="#"><i class="icon-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <!-- /end -->

  <!-- Boxed -->
  <div class="boxed">

<header id="header" class="header header-default">

    <div class="tf-container">
      <div class="row">
        <div class="col-md-12">
          <div class="sticky-area-wrap">
            <div class="header-ct-left">
              <div id="logo" class="logo">
                <a href="/home/">
                  <img class="site-logo" src="/img/logo.png" alt="Image" />

                </a>
              </div>


              <div class="categories">
                <a href="#"><span class="icon-grid"></span>Categories</a>
                <div class="sub-categorie">
                  <ul class="pop-up">
                    <li>
                      <a href="#"><span class="icon-categorie-1"></span>Design & Creative</a>
                      <div class="group-menu-category">
                        <div class="menu left">
                          <h6>Top Categories</h6>
                          <ul>
                            <li><a href="find-jobs-list.html">Design & Creative</a></li>
                            <li><a href="find-jobs-list.html">Digital marketing</a></li>
                            <li><a href="find-jobs-list.html">Development & IT</a></li>
                            <li><a href="find-jobs-list.html">Music & Audio</a></li>
                            <li><a href="find-jobs-list.html">Finance & Accounting</a></li>
                            <li><a href="find-jobs-list.html">Programming & Tech</a></li>
                            <li><a href="find-jobs-list.html">video & Animation</a></li>
                          </ul>
                        </div>
                        <div class="menu right">
                          <h6>Top Skills</h6>
                          <ul>
                            <li><a href="jobs-single.html">Adobe Photoshop</a></li>
                            <li><a href="jobs-single.html">adobe XD</a></li>
                            <li><a href="jobs-single.html">Android Developer</a></li>
                            <li><a href="jobs-single.html">Figma</a></li>
                            <li><a href="jobs-single.html">CSS, Html</a></li>
                            <li><a href="jobs-single.html">BA</a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="#"><span class="icon-categorie-8"></span>Digital Marketing</a>
                      <div class="group-menu-category">
                        <div class="menu left">
                          <h6>Top Categories</h6>
                          <ul>
                            <li><a href="find-jobs-list.html">Digital marketing</a></li>
                            <li><a href="find-jobs-list.html">Design & Creative</a></li>
                            <li><a href="find-jobs-list.html">Finance & Accounting</a></li>
                            <li><a href="find-jobs-list.html">Development & IT</a></li>
                            <li><a href="find-jobs-list.html">Programming & Tech</a></li>
                          </ul>
                        </div>
                        <div class="menu right">
                          <h6>Top Skills</h6>
                          <ul>
                            <li><a href="jobs-single.html">adobe XD</a></li>
                            <li><a href="jobs-single.html">Figma</a></li>
                            <li><a href="jobs-single.html">BA</a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="#"><span class="icon-categorie-2"></span>Development & IT</a>
                      <div class="group-menu-category">
                        <div class="menu left">
                          <h6>Top Categories</h6>
                          <ul>
                            <li><a href="find-jobs-list.html">Design & Creative</a></li>
                            <li><a href="find-jobs-list.html">Development & IT</a></li>
                            <li><a href="find-jobs-list.html">Music & Audio</a></li>
                            <li><a href="find-jobs-list.html">video & Animation</a></li>
                            <li><a href="find-jobs-list.html">Finance & Accounting</a></li>
                          </ul>
                        </div>
                        <div class="menu right">
                          <h6>Top Skills</h6>
                          <ul>
                            <li><a href="jobs-single.html">adobe XD</a></li>
                            <li><a href="jobs-single.html">Android Developer</a></li>
                            <li><a href="jobs-single.html">Adobe Photoshop</a></li>
                            <li><a href="jobs-single.html">CSS, Html</a></li>
                            <li><a href="jobs-single.html">BA</a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="#"><span class="icon-categorie-3"></span>Music & Audio</a>
                      <div class="group-menu-category">
                        <div class="menu left">
                          <h6>Top Categories</h6>
                          <ul>
                            <li><a href="find-jobs-list.html">Digital marketing</a></li>
                            <li><a href="find-jobs-list.html">Design & Creative</a></li>
                            <li><a href="find-jobs-list.html">video & Animation</a></li>
                          </ul>
                        </div>
                        <div class="menu right">
                          <h6>Top Skills</h6>
                          <ul>
                            <li><a href="jobs-single.html">Android Developer</a></li>
                            <li><a href="jobs-single.html">Adobe Photoshop</a></li>
                            <li><a href="jobs-single.html">adobe XD</a></li>
                            <li><a href="jobs-single.html">Figma</a></li>
                            <li><a href="jobs-single.html">BA</a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="#"><span class="icon-categorie-4"></span>Finance &
                        Accounting</a>
                        <div class="group-menu-category">
                          <div class="menu left">
                            <h6>Top Categories</h6>
                            <ul>
                              <li><a href="find-jobs-list.html">Development & IT</a></li>
                              <li><a href="find-jobs-list.html">Design & Creative</a></li>
                              <li><a href="find-jobs-list.html">Programming & Tech</a></li>
                              <li><a href="find-jobs-list.html">Music & Audio</a></li>
                              <li><a href="find-jobs-list.html">Finance & Accounting</a></li>
                              <li><a href="find-jobs-list.html">video & Animation</a></li>
                            </ul>
                          </div>
                          <div class="menu right">
                            <h6>Top Skills</h6>
                            <ul>
                              <li><a href="jobs-single.html">adobe XD</a></li>
                              <li><a href="jobs-single.html">Figma</a></li>
                            </ul>
                          </div>
                        </div>
                    </li>
                    <li>
                      <a href="#"><span class="icon-categorie-5"></span>Programming & Tech</a>
                      <div class="group-menu-category">
                        <div class="menu left">
                          <h6>Top Categories</h6>
                          <ul>
                            <li><a href="find-jobs-list.html">Design & Creative</a></li>
                            <li><a href="find-jobs-list.html">Digital marketing</a></li>
                            <li><a href="find-jobs-list.html">Music & Audio</a></li>
                            <li><a href="find-jobs-list.html">Finance & Accounting</a></li>
                            <li><a href="find-jobs-list.html">Programming & Tech</a></li>
                            <li><a href="find-jobs-list.html">video & Animation</a></li>
                          </ul>
                        </div>
                        <div class="menu right">
                          <h6>Top Skills</h6>
                          <ul>
                            <li><a href="jobs-single.html">Adobe Photoshop</a></li>
                            <li><a href="jobs-single.html">adobe XD</a></li>
                            <li><a href="jobs-single.html">Figma</a></li>
                            <li><a href="jobs-single.html">CSS, Html</a></li>
                            <li><a href="jobs-single.html">BA</a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="#"><span class="icon-categorie-6"></span>Video & Animation</a>
                      <div class="group-menu-category">
                        <div class="menu left">
                          <h6>Top Categories</h6>
                          <ul>
                            <li><a href="find-jobs-list.html">Design & Creative</a></li>
                            <li><a href="find-jobs-list.html">Digital marketing</a></li>
                            <li><a href="find-jobs-list.html">Programming & Tech</a></li>
                            <li><a href="find-jobs-list.html">video & Animation</a></li>
                          </ul>
                        </div>
                        <div class="menu right">
                          <h6>Top Skills</h6>
                          <ul>
                            <li><a href="jobs-single.html">Adobe Photoshop</a></li>
                            <li><a href="jobs-single.html">CSS, Html</a></li>
                            <li><a href="jobs-single.html">BA</a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="#"><span class="icon-categorie-7"></span>Writing &
                        translation</a>
                        <div class="group-menu-category">
                          <div class="menu left">
                            <h6>Top Categories</h6>
                            <ul>
                              <li><a href="find-jobs-list.html">Finance & Accounting</a></li>
                              <li><a href="find-jobs-list.html">Programming & Tech</a></li>
                              <li><a href="find-jobs-list.html">video & Animation</a></li>
                            </ul>
                          </div>
                          <div class="menu right">
                            <h6>Top Skills</h6>
                            <ul>
                              <li><a href="jobs-single.html">Figma</a></li>
                              <li><a href="jobs-single.html">CSS, Html</a></li>
                              <li><a href="jobs-single.html">BA</a></li>
                            </ul>
                          </div>
                        </div>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
            <div class="header-ct-center st-1">
              <div class="nav-wrap">
                <nav id="main-nav" class="main-nav">
                  <ul id="menu-primary-menu" class="menu">
                    <li class="menu-item menu-item-has-children current-item">
                      <a href="/home/">Home </a>
                

                    </li>
                    <li class="menu-item menu-item-has-children">
                      <a href="/findjob/">Find jobs </a>
                 
                    </li>

                    <li class="menu-item menu-item-has-children">
                      <a href="/findemployer/">Employers</a>
                    </li>
                    <li class="menu-item menu-item-has-children">
                      <a href="/findcandidates/">Candidates</a>
                    </li>
                    <li class="menu-item menu-item-has-children">
                      <a href="/blog/">Blog</a>
              

                    </li>
                    <li class="menu-item menu-item-has-children">
                      <a href="#">Pages</a>
                      <ul class="sub-menu st1">
                     
                        <li class="nav-sub">
                          <a href="/about/">About Us</a>

                        </li>
                        <li class="nav-sub">
                          <a href="/faqs/">FAQS</a>
                        </li>
                        <li class="nav-sub">
                          <a href="/termofuse/">Terms Of Use</a>
                        </li>

             
                        <li class="nav-sub">
                          <a href="/contact/">Contact Us</a>
                        </li>

                      </ul>

                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="header-ct-right st-1">
             
              <% if (!login) { %>
                <div class="header-customize-item help">
                  <a href="/termofuse/"><span class="icon-help-circle"></span></a>
                </div>
                <div class="header-customize-item button">
                  <a href="/login/">Login</a>
                </div>
            <% } else { %>
                
              <div class="header-customize-item bell">
                <span class="icon-bell"></span>
                <div class="sub-notification">
                  <div class="sub-notification-heading">
                    <div class="sub-notification-title">Notification</div>
                    <span>5 New</span>
                  </div>
                  <div class="sub-notification-content">
                    <div class="sub-notification-item icon-plus">
                      <div class="time">Last day</div>
                      <div class="content">
                        Your submit job <span class="name">Graphic Design</span> is
                        <span class="status">Success</span>
                      </div>
                    </div>
                    <div class="sub-notification-item icon-plus">
                      <div class="time">5 Day ago</div>
                      <div class="content">
                        A new application is submitted on your job
                        <span class="name">Graphic Design</span> by
                        <span class="name">Maverick Nguyen</span>
                      </div>
                    </div>
                    <div class="sub-notification-item icon-plus">
                      <div class="time">5 Day ago</div>
                      <div class="content">
                        A new application is submitted on your job
                        <span class="name">Graphic Design</span> by
                        <span class="name">Maverick Nguyen</span>
                      </div>
                    </div>
                    <div class="sub-notification-item icon-plus">
                      <div class="time">Last day</div>
                      <div class="content">
                        Your submit job <span class="name">Graphic Design</span> is
                        <span class="status">Success</span>
                      </div>
                    </div>
                    <div class="sub-notification-item icon-plus">
                      <div class="time">5 Day ago</div>
                      <div class="content">
                        A new application is submitted on your job
                        <span class="name">Graphic Design</span> by
                        <span class="name">Maverick Nguyen</span>
                      </div>
                    </div>
                  </div>
                  <div class="sub-notification-button">
                    <a href="#">Read All</a>
                  </div>
                </div>
              </div>
              <div class="header-customize-item account">
                <style>
                  .HYuserIMG {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    border: 4px solid rgb(216, 216, 216);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                 
                    background-image: url( <%= userData.profileIMG %> );
                    
                  }
                </style>
                                <div class="HYuserIMG" ></div>
   

            
                
                <div class="name">
                  Employers<span class="icon-keyboard_arrow_down"></span>
                </div>
                <div class="sub-account">
                  <div class="sub-account-item">
                    <a href="/dashboard/"><span class="icon-dashboard"></span>Dashboard</a>
                  </div>
                  <div class="sub-account-item">
                    <a href="/dashboard/profiloverview/"><span class="icon-profile"></span> Profile</a>
                  </div>
                  <div class="sub-account-item">
                    <a href="dashboard/employer-my-job.html"><span class="icon-work"></span> My Job</a>
                  </div>
                  <div class="sub-account-item">
                    <a href="dashboard/employer-submit-job.html"><span class="icon-submit"></span> Submit Job</a>
                  </div>
                  <div class="sub-account-item">
                    <a href="dashboard/employer-saved-candidates.html"><span class="icon-save-candidate"></span> Saved
                      Candidate</a>
                  </div>
                  <div class="sub-account-item">
                    <a href="dashboard/employer-alerts-candidate.html"><span class="icon-bell1"></span> Candidate
                      Alerts</a>
                  </div>
                  <div class="sub-account-item">
                    <a href="dashboard/employer-my-packages.html"><span class="icon-mypackage "></span> My
                      Packages</a>
                  </div>
                  <div class="sub-account-item">
                    <a href="dashboard/employer-messages.html"><span class="icon-chat"></span> Messages</a>
                  </div>
                  <div class="sub-account-item">
                    <a href="dashboard/employer-meetings.html"><span class="icon-meeting"></span> Meeting</a>
                  </div>
                  <div class="sub-account-item">
                    <a href="dashboard/employer-change-passwords.html"><span class="icon-change-passwords"></span>
                      Change
                      Passwords</a>
                  </div>
                  <div class="sub-account-item">
                    <a href="dashboard/employer-delete-profile.html"><span class="icon-trash"></span> Delete
                      Profile</a>
                  </div>

                  <div class="sub-account-item">
                    <a href="/logout"><span class="icon-log-out"></span> Log Out</a>
                  </div>
                </div>
              </div>
            <% }  %>

              
      


             



              
        
            </div>
            <div class="nav-filter">
              <div class="nav-mobile"><span></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>